[2014-02-23 16:10] yegor256 opened #1 "JsonResponse should be able to read non-Unicode JSON"
JsonResponse is now relying on a proper Unicode formatting of JSON documents (see line 95). When JSON contains non-Unicode characters, the class throws a runtime exception. For example, try this document (which is a valid JSON according to [RFC 4627](http://tools.ietf.org/html/rfc4627)):

[code]

[2014-03-04 09:01] dmarkov opened #3 "MkContainerTest.java:73-74: Grizzly container doesn't understand same-name..."
Puzzle `1-40eeff88` in `src/test/java/com/jcabi/http/mock/MkContainerTest.java:73-74` has to be resolved: Grizzly container doesn't understand same-name headers, or we don't fetch them correctly from GrizzlyRequest

[2014-03-04 09:29] #1 closed, assigned to nobody

[2014-03-05 17:42] #3 closed, assigned to nobody

[2014-03-20 08:06] yegor256 opened #5 "RequestURI#port()"
Let's add method `port()` to `RequestURI` interface

[2014-03-23 08:50] #5 closed, assigned to nobody

[2014-04-02 07:42] yegor256 opened #7 "JsonResponse.json() should be more verbose when parsing breaks"
`JsonResponse.json()` should be more verbose when parsing breaks. It has to log the content of JSON response to slf4j

[2014-04-09 09:28] #7 closed, assigned to nobody

[2014-04-11 08:26] yegor256 opened #9 "get rid of commons-io"
Let's get rid of commons-io. It's a small library, and would be much better to work without big dependencies

[2014-04-11 08:27] yegor256 opened #10 "get rid of commons-lang3"
Let's get rid of commons-lang3. It's a small library, would be better to have it deps-free

[2014-04-11 08:30] yegor256 opened #11 "get rid of commons-codec"
Let's get rid of commons-codec and use native JDK codecs

[2014-04-11 09:44] yegor256 opened #12 "escaping of JSON breaks normal parsing"
after #1 we have a broken logic. normally formatted JSON can't be parsed, for example:

[code]

Leads to runtime exception:

[code]

[2014-04-11 09:53] #12 closed, assigned to nobody

[2014-04-12 14:03] yegor256 opened #13 "JsoupResponse"
Let's create `JsoupResponse`, which will normalize the HTML page after retrieval. It shouldn't expose any specific methods, just normalize the existing `body()`

Originally proposed by Lukas Eder at http://www.yegor256.com/2014/04/11/jcabi-http-intro.html#disqus_thread

[2014-04-14 13:03] #9 closed, assigned to nobody

[2014-04-14 14:26] #10 closed, assigned to nobody

[2014-04-15 10:24] #11 closed, assigned to nobody

[2014-04-16 14:06] #13 closed, assigned to nobody

[2014-04-17 09:00] yegor256 opened #18 "ConnectionException is not descriptive"
I'm getting this exception sometimes:

[code]

"Connection refused" is not descriptive at all to me. I'd like to see where the connection was trying to be established to, with what HTTP method, etc. Would be nice to wrap all runtime exceptions flying out of `JdkRequest$1.send()` in IOException and add a message there, like:

[code]

[2014-04-20 16:28] yegor256 opened #19 "enable conditional answers in MkContainer"
Let's introduce a new utility class `MkQueryMatchers`, in order to enable conditional answers in `MkContainer`, for example:

[code]

This means that the answer will be returned only if the request contains header `Content-Type`, which is equals to `"text/plain"` and request body contains `"say hello"`.

By default, when method `next(MkAnswer)` is used (with one argument only), an everything-match

[2014-04-21 11:31] #18 closed, assigned to nobody

[2014-04-27 04:26] yegor256 opened #21 "jcabi-matchers"
Let's use jcabi-matchers 1.0 instead of rexsl-test 0.13

[2014-04-29 09:27] #21 closed, assigned to nobody

[2014-05-05 10:54] #19 closed, assigned to nobody

[2014-05-05 12:09] dmarkov opened #24 "MkContainer.java:87-89: Let's add methods take(Matcher )..."
Puzzle `19-a877bdce` in `src/main/java/com/jcabi/http/mock/MkContainer.java:87-89` has to be resolved: Let's add methods take(Matcher ) and takeAll(Matcher ), and a utility class MkAnswerMatchers. Intended usage is as follows:

[2014-05-05 13:43] dmarkov opened #25 "MkContainer.java:64-66: Let's introduce a utility class..."
Puzzle `19-aa7a7497` in `src/main/java/com/jcabi/http/mock/MkContainer.java:64-66` has to be resolved: Let's introduce a utility class MkQueryMatchers which contains convenience methods for matching MkQuery objects. This is primarily intended for use with the conditional MkContainer.next() methods. For example:

[2014-05-06 13:06] #25 closed, assigned to nobody

[2014-05-07 16:19] #24 closed, assigned to nobody

[2014-05-15 08:33] yegor256 opened #28 "CachingWire flushing"
Let's implement a simple flushing mechanism in `CachingWire`

[2014-05-15 08:39] #28 closed, assigned to nobody

[2014-05-15 09:13] yegor256 opened #29 "build fails with JDK6"
Check travis-ci logs. Let's fix.

[2014-05-20 14:57] #29 closed, assigned to nobody

[2014-05-29 09:07] yegor256 opened #31 "AutoRedirectingWire"
Let's add a new class `AutoRedirectingWire`. It should retry a request when HTTP response code is between 300 and 399. It has to have two constructors: no-args and one-arg. The argument is the maximum number of retries. By default (with no-arg ctor) the maximum is 5.

[2014-06-05 05:48] carlosmiranda opened #32 "Javadoc links on Maven Site are broken"
For example, in http://http.jcabi.com/example-request.html, the first link to `Request` refers to http://http.jcabi.com/apidocs-1.5.2/com/rexsl/test/Request.html. This will result in a `HTTP 404` error, since we've migrated the classes from `com.rexsl.test` to `com.jcabi.http`. The link http://http.jcabi.com/apidocs-1.5.2/com/jcabi/http/Request.html works properly as expected.

Let's update the li

[2014-06-05 20:02] #31 closed, assigned to nobody

[2014-06-06 22:19] antonxt opened #34 "How to generate javadocs?"
Working on #32, I build the site using "site" maven goal to check my corrections in *.md.vm files. This way I get HTMLs for the site in target/site folder. The HTMLs contain links to javadocs, like:

[code]

These links are not valid, because there are no javadocs in ./apidocs-${project.version} folder.

How should I generate the javadocs? I tried all other maven goals, none of them made javadocs.

[2014-06-07 04:30] #34 closed, assigned to nobody

[2014-06-09 21:56] #32 closed, assigned to nobody

[2014-06-12 23:56] peterbecker opened #36 "Uploads should allow using streams"
The current API does not seem to have any efficient way of uploading the contents of a file or other local resource.

There is `RequestBody#set(byte[])`, but that requires loading the full file contents into memory. The array is then cloned in the `BaseBody(BaseRequest, byte[])` constructor, doubling the memory need.

While this is currently feasible for what we do, we would prefer having somethin

[2014-06-13 01:56] peterbecker opened #37 "Optional dependencies are not documented"
The documentation claims that the only dependency required is `jcabi-http` itself, but that seems to be true only for a very limited used. In my project I ended up needing the following in my POM:

[code]

I think these requirements should be at least documented -- I had to find them in your POM to identify the group and artifact IDs I wanted to add. And from what I can tell there are other cases

[2014-06-16 17:45] dmarkov opened #39 "JsoupResponseTest.java:50-53: Saxon complains about HTML 1.0,..."
Puzzle `1-5ecf8bb2` in `src/test/java/com/jcabi/http/response/JsoupResponseTest.java:50-53` has to be resolved: Saxon complains about HTML 1.0, and I'm not sure how this is possible to fix. All we need to check in this test is that the output is a clean HTML document. Aparently JSOUP produces a broken HTML? Let's investigate and fix.

[2014-06-19 00:46] #37 closed, assigned to nobody

[2014-06-19 00:52] peterbecker opened #40 "Documentation missing as to what optional dependencies are required for which feature"
The page http://http.jcabi.com/optional-dependencies.html provides a full list of dependencies one can use, but this can exceed the required set for a particular use case. For example: `org.jsoup:jsoup` is required only if the JSoup parser is used. Adding the dependency is not needed for other use cases and unnecessarily bloats the resulting artifacts.

The ideal solution for me would be to actual

[2014-06-24 14:08] ghost opened #42 "Runtime exception caused by @Immutable"
My environment : java 8, aspectj 1.8, intellij
![trace](https://cloud.githubusercontent.com/assets/663903/3372229/d4424d80-fba8-11e3-96c1-2607bcc7026a.PNG)
![trace](https://cloud.githubusercontent.com/assets/663903/3372239/f2fd7196-fba8-11e3-883b-e3924b54c2a8.PNG)

P.S. didnt figure out how to paste here code so adding screenshots

[2014-06-24 15:49] ghost opened #43 "Required additional dependency"
I'm trying to set jcabi-http with java 1.7 and not aspectj environment, but seems there are some other dependencies that should be there in order for it to be able to operate.

![capture](https://cloud.githubusercontent.com/assets/663903/3373830/89a4db12-fbb7-11e3-95c6-a827b15a1a73.PNG)

I've uploaded sample project for you
https://www.dropbox.com/s/4v6wi1w361xwbio/experimental.rar

[2014-06-24 16:15] #43 closed, assigned to nobody

[2014-06-24 23:10] #40 closed, assigned to nobody

[2014-06-25 06:33] #42 closed, assigned to nobody

[2014-07-10 02:41] carlosmiranda opened #46 "CachingWire.get() should have private visibility"
Currently, `CachingWire.get()` has `public` visibility. I don't see why it shouldn't be `private` instead, since the `Wire` API is actually obtaining the `Response` through `Wire.send()`, and `CachingWire.send()` delegates to `get()` for its caching behavior.

[2014-07-14 03:10] #36 closed, assigned to nobody

[2014-07-15 15:54] #39 closed, assigned to nobody

[2014-07-18 02:43] carlosmiranda opened #47 "FakeRequest incorrectly uses request body as response body"
When the `RequestBody` of a `FakeRequest` is set, it incorrectly uses it in the body of the _ResponseBody_ instead of using the response body content that was specified.

For example, the following test will fail:

[code]

Error:

[code]

Note that the following test - if the `RequestBody` is not set - works fine:

[code]

[2014-07-23 11:30] #47 closed, assigned to nobody

[2014-07-28 22:06] #46 closed, assigned to nobody

[2014-08-14 06:48] yegor256 opened #50 "skin 1.4"
let's use it

[2014-08-14 07:10] #50 closed, assigned to nobody

[2014-09-11 15:33] yegor256 opened #51 "remove AOP aspects"

[2014-09-23 17:52] #51 closed, assigned to nobody

[2014-09-23 17:52] yegor256 opened #52 "android compatible"
Let's make it fully compatible with Android

[2014-09-23 20:30] #52 closed, assigned to nobody

[2014-11-04 18:05] yegor256 opened #53 "APT instead of MD"

[2014-11-04 18:40] #53 closed, assigned to nobody

[2014-11-05 08:15] longtimeago opened #54 "Link on usage example is broken"
Link http://www.rexsl.com/rexsl-test/example-mock-servlet.html
located here https://github.com/jcabi/jcabi-http/blob/master/src/main/java/com/jcabi/http/mock/MkGrizzlyContainer.java#L50
is not exist anymore.

[2014-11-06 22:19] gdulus opened #55 "Dependency issue"
First of all, great job! This is something i was searching for long time.
Just one question. I have a problem with missing dependency. At the moment when I execute queryParam i have:

[code]

Do i need anything else beside compile('com.jcabi:jcabi-http:1.9.1') ?

My code:

[code]

[2014-11-10 10:58] #54 closed, assigned to yegor256

[2014-11-13 13:57] #55 closed, assigned to nobody

[2014-12-26 10:33] yegor256 opened #56 "VerboseWire doesn't log POST body"

[2014-12-26 10:52] #56 closed, assigned to nobody

[2014-12-26 11:04] yegor256 opened #57 "TrustedWire"
Let's create `TrustedWire` which will ignore SSL keys

[2014-12-26 11:25] #57 closed, assigned to nobody

[2014-12-26 21:38] yegor256 opened #58 "TrustedWire doesn't work"

[2014-12-26 21:56] #58 closed, assigned to nobody

[2015-01-08 16:35] maurezen opened #59 "Copyright section is outdated"
Copyright sections still feature 2014 as a year.

[2015-01-09 19:12] invisible-arrow opened #60 "Restrict type parameter in Response.as(Class<T> type) method to accept implementations of Response only"
Currently Response.as(Class&lt;T&gt; type) accepts any type without bounds on T.
It should be restricted to implementations of Response interface.
Something like: &lt;T extends Response&gt; T as(Class&lt;T&gt; type)
This will also help as a good self documentation of the method.

[2015-01-09 19:59] yegor256 commented on #60
@invisible-arrow thanks for reporting, we'll fix it!

[2015-01-12 09:06] dmarkov commented on #60
I'll ask someone to take care of this task soon

[2015-01-12 10:00] dmarkov commented on #60
@romankisilenko this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-12 21:55] RomanKisilenko opened #62 "http://http.jcabi.com documentation contains wrong snapshot version"
Version 1.0-SNAPSHOT is mentioned in docs 2.0-SNAPSHOT.

[2015-01-12 21:57] RomanKisilenko opened #63 "mvm clean verify fails"
During test compilation, maven build fails with errors like
[code]

[2015-01-13 09:35] yegor256 commented on #63
@RomanKisilenko hm.. Travis build is clean. how can I reproduce this issue? how do you run the build? what are your Maven/Java version?

[2015-01-13 10:09] RomanKisilenko commented on #63
Java 6 was used for compilation. Java 8 compiles fine. So this one can be closed I think.

[2015-01-13 10:09] #63 closed

[2015-01-15 07:15] dmarkov commented on #62
we'll find someone to do this task, soon

[2015-01-18 14:06] davidsowerby opened #64 "Missing Lombok dependency"
Thanks for this very useful library - I was getting version conflicts with anything that uses ApacheHttp, and this gave me a very quick solution.

There does seem to be a dependency missing from your "optional dependencies" page, for the the Lombok annotations.

In Gradle speak:

I'm currently using:

[2015-01-18 18:29] yegor256 commented on #64
@davidsowerby thanks for using jcabi :) this may be a bug in our documentation or in our pom.xml. I'll investigate. thanks for reporting!

[2015-01-19 07:19] dmarkov commented on #62
@maurezen it's your task, go ahead

[2015-01-19 07:20] dmarkov commented on #62
@romankisilenko thank you for the ticket reported, I topped your account for 15 mins, transaction `50342743`

[2015-01-19 11:14] maurezen commented on #62
@dmarkov created a pull request here #65

[2015-01-19 15:59] maurezen commented on #62
@RomanKisilenko pull request #65 merged, please close the issue.

[2015-01-20 23:24] maurezen commented on #62
@RomanKisilenko please close the issue.

[2015-01-21 13:07] RomanKisilenko commented on #60
@invisible-arrow PR was reviewed and closed, please close this issue.

[2015-01-21 13:08] #62 closed

[2015-01-21 15:52] invisible-arrow commented on #60
@RomanKisilenko, @yegor256 Thanks. Closing the issue.

[2015-01-21 15:52] #60 closed

[2015-01-21 21:36] maurezen commented on #62
@dmarkov this issue is closed.

[2015-01-21 23:03] maurezen opened #66 "Qulice configuration - no license specified."
1. Checkout master branch
2. run `mvn qulice:check -Pqulice`
3. There are multiple `Line does not match expected header line of ' * BSD License'. (HeaderCheck)` messages.

This is a known bug of qulice configuration in parent-0.31 (jcabi/jcabi-parent#19), accessed via jcabi-0.16. Suggested action is waiting until jcabi/jcabi#297 fix is released and upgrading jcabi version.

[2015-01-23 07:16] dmarkov commented on #62
@maurezen Thank you, I've added **30 mins** to your account in payment/transaction "`50614412`"; +30 added to your rating, current score is: [+855](http://www.netbout.com/b/35102?open=rating)

[2015-01-23 10:29] dmarkov commented on #60
@romankisilenko Thanks for your contribution, **30 mins** was added to your account, payment ID is `50616612`

+30 to your rating, your total score is +390

[2015-01-23 20:54] shashankrudra opened #67 "maven dependency error for 2.0-SNAPSHOT"
I am using the below dependency and putting it in pom of a simple maven web project created using archetype-generate

[code]

Then I have a class with the below code

[code]

It blows up on the very first line with error

[code]

Please suggest.

Thanks in advance !
Shashank

[2015-01-23 21:01] yegor256 commented on #67
@shashankrudra check this article http://http.jcabi.com/optional-dependencies.html

[2015-01-23 21:50] shashankrudra commented on #67
thanks yegor !

It is better now however I am stuck at this last piece of that test code to work
.assertStatus(HttpURLConnection.HTTP_OK)

which jar version is this part of?

-
shashank

[2015-01-23 22:14] yegor256 commented on #67
@shashankrudra show your code please

[2015-01-23 22:23] shashankrudra commented on #67
int httpOk = HttpURLConnection.HTTP_OK;

		String html = new JdkRequest("https://www.google.com")
		  .uri().path("/users").queryParam("id", new Integer(333)).back()
		  .method(Request.GET)
		  .header("Accept", "text/html")
		  .fetch()
		  .as(RestResponse.class)
		  .assertStatus(new Integer(httpOk))
		  .body();

and pom has most of the required dependency from the page you just suggested abo

[2015-01-23 22:49] yegor256 commented on #67
@shashankrudra and this code doesn't compile? btw, you don't need to wrap integers into `new Integer()`, just use scalar primitives

[2015-01-23 23:44] yegor256 opened #68 "BaseRequest#equals() lies"

[2015-01-23 23:49] yegor256 commented on #68
@rultor release, tag is `1.10.2`

[2015-01-23 23:49] rultor commented on #68
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1737-71286595)

[2015-01-24 00:00] rultor commented on #68
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1737-71286595) (took me 11min)

[2015-01-24 00:00] #68 closed

[2015-01-25 09:08] yegor256 opened #69 "WrReadOnly: read only wire"

[2015-01-25 09:13] yegor256 commented on #69
impossible to implement

[2015-01-25 09:13] #69 closed

[2015-01-25 18:58] dpisarenko opened #70 "Build fails under Windows 7"
`mvn clean install -Pqulice` fails with following message:

[code]

[2015-01-25 19:11] yegor256 commented on #70
@dpisarenko what is your environment?

[2015-01-25 19:12] dpisarenko commented on #70
@yegor256

[code]

[2015-01-25 19:14] dpisarenko commented on #70
@yegor256 I ran `mvn clean install -Pqulice` twice from the Git bash shell.

[2015-01-25 21:28] dpisarenko commented on #70
When running the same command from the normal `cmd` console, there is also a problem with the build number:

[code]
Last sentence means *Command git is either spelled wrong or could not be found*.

The build fails with seemingly the same message as in Git bash shell:

[code]

[2015-01-26 09:54] yegor256 commented on #70
@dpisarenko it's a known issue with Java8 and findbugs: https://github.com/teamed/qulice/issues/379 I documented the problem in README

[2015-01-26 09:54] #70 closed

[2015-01-29 08:18] yegor256 opened #71 "RetryWire more verbose"

[2015-01-29 08:32] #71 closed

[2015-01-29 08:33] yegor256 opened #72 "guava caching instead of cache2k"

[2015-01-29 13:34] yegor256 commented on #72
@rultor release, tag is `1.10.3`

[2015-01-29 13:35] rultor commented on #72
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1808-72023965)

[2015-01-29 13:56] rultor commented on #72
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1808-72023965) (took me 21min)

[2015-01-29 14:02] #72 closed

[2015-02-07 14:23] jtsiros commented on #60
I think this breaks the fact that you can't use .as(HttpResponse.class).assertStatus(...). Since T is now bound to type T extending Response, things like HttpResponse.class from org.apache.http.HttpResponse don't seem to work. Is there an alternative to HttpResponse that was implemented?

[2015-02-08 06:52] yegor256 commented on #60
@jtsiros could you please report a new issue, explaining there what exactly doesn't work (with code examples please). thanks!

[2015-03-23 01:58] carlosmiranda opened #73 "Add RestResponse.assertBinary() method"
At the moment, we have a method `RestResponse.assertBody(Matcher<String>)`, which checks if the response body String corresponds to the given matcher.

Let's add an equivalent `assertBinary()` method for checking binary content. After all, we have methods to obtain the response in either format (`Response.body()` and `Response.binary()` respectively); it would be great if we were able to have conv

[2015-03-30 11:58] longtimeago opened #74 "README contains outdated usage"
[code]
But there is no ```HttpResponse``` class anymore.
There should be ```RestResponse```

[2015-03-30 16:48] longtimeago opened #75 "Improvement: Path can supply template with params"
It would be really cool to have ```RequestURI.path(String format, Object ... params)```
to be able to set path params like this:
[code]
which will result in following request:
``` /users/12345/6789 ```

[2015-03-30 18:17] yegor256 commented on #74
@longtimeago fixed in e159043, thanks!

[2015-03-30 18:17] #74 closed

[2015-03-30 18:18] longtimeago commented on #74
@yegor256 you are welcome

[2015-03-30 18:18] yegor256 commented on #75
@longtimeago what's wrong with `.path("users").path("12345").path("6789")`?

[2015-03-30 18:19] longtimeago commented on #75
@yegor256 too verbose :)

[2015-03-30 18:19] yegor256 commented on #67
@shashankrudra any news here? does it work?

[2015-03-30 18:20] yegor256 opened #76 "get rid of JAX-RS dependency"
Let's get rid of JAX-RS dependency in runtime/compile scope.

[2015-03-30 18:20] yegor256 commented on #66
the problem seems to be fixed already

[2015-03-30 18:20] #66 closed

[2015-03-30 18:23] yegor256 commented on #59
@maurezen fixed in 1fdc10b, thanks!

[2015-03-30 18:23] #59 closed

[2015-03-30 18:23] yegor256 commented on #75
@longtimeago nah :) we won't fix this, but thanks for the suggestion

[2015-03-30 18:23] #75 closed

[2015-03-30 18:33] longtimeago commented on #75
@yegor256 Oook, let me explain :)
Consider, following path (don't ask to change the path, I can't):
[code]
Suppose, we need to call this resource in from many many tests with different parameters.
Proposed improvement would be very helpful.
With current jcabi-http api it would be too verbose. Or ... am I missed something?

[2015-03-30 18:45] maurezen commented on #59
@yegor256 why the invalid label? this was a valid bug which you took time to fix.

[2015-03-30 18:50] yegor256 commented on #59
@maurezen it's too small/cosmetic, see http://www.teamed.io/policy.html#13

[2015-03-30 19:18] maurezen commented on #59
@yegor256 so "invalid" is "not paid", right? But it is also used when the issue in question is not a bug. Shouldn't there be a difference?

[2015-03-30 20:04] yegor256 commented on #59
@maurezen yeah, ideally there should be, but Github doesn't have a specific tag for "not-a-bug". that's why "invalid" is good enough

[2015-03-30 20:43] longtimeago commented on #75
@yegor256 still no?

[2015-03-30 21:08] yegor256 commented on #75
@longtimeago design-wise, I don't think it's a good idea to use any `TEMPLATE` constants. I would rather create an instance of `Request` and re-use it:

[code]

And later in tests:

[code]

[2015-03-31 06:40] longtimeago commented on #75
@yegor256 you've ignored my second example. It's not so straightforward
[code]
With current jcabi-http I have to do:
[code]
With template:
[code]
What do you think?

[2015-03-31 07:08] longtimeago commented on #75
P.S. We just trying to choose between jcabi-http and rest-assured (https://github.com/jayway/rest-assured) .
rest-assured is less verbose while still doing the same (with path templates by the way).

[2015-03-31 08:07] dmarkov commented on #73
we will find someone to do this task, soon

[2015-03-31 08:07] dmarkov commented on #76
I will find a developer for the task soon...

[2015-03-31 08:09] dmarkov commented on #76
@yegor256 thanks for this report, I added 15 mins to your account, in transaction `000-388ae7c7`

[2015-03-31 08:51] dmarkov commented on #73
@carlosmiranda thank you for the ticket reported, I topped your account for 15 mins, transaction `54559173`

[2015-03-31 19:19] yegor256 commented on #75
@longtimeago I think verbosity in this case is only making code cleaner. This templating (from JAX-RS), in my opinion, is a bad idea.

[2015-03-31 19:48] longtimeago commented on #75
@yegor256 could you please elaborate why templating is bad idea? Is it bad for lib or for the lib client?

[2015-04-01 21:13] yegor256 commented on #75
@longtimeago I think that templating in this particular case (and in many others) is doing two jobs at the same time. The URI builder is 1) composing URI from components, and 2) formatting components. That's one job too many. It's better to let components format themselves and URI builder will just put them together, separating with slash.

[2015-04-01 21:41] longtimeago commented on #75
@yegor256 so, you just confirm that it's bad for lib :)
Thanks!

[2015-04-07 07:16] dmarkov opened #77 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 09:14] dmarkov opened #78 "1.11"
Please, publish a new release **1.11** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-07 13:17] dmarkov opened #79 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-04-07 19:12] invisible-arrow opened #80 "OneMinuteWire doesn't terminate request after one minute"
Version: 1.10.3
The request doesn't terminate after exceeding one minute.
From the stacktrace, it seems like it might be an aspect weaving problem, but I could be wrong.
Relevant thread state below:
[code]

[2015-04-07 20:31] bugs84 opened #81 "JdkRequest - Capitalize First Letter in response header names"
JdkRequest - Capitalize First Letter in response header names.
This is caused by ImmutableHeader class, which capitalize first letters in header name.

I love jcabi-http :) , but
My tests are failing when i get "different" headers

Here is small unit test:

    import com.jcabi.http.ImmutableHeader;
    import org.junit.Test;

    import static org.hamcrest.CoreMatchers.is;
    import static org.j

[2015-04-22 06:47] dmzaytsev opened #82 "FakeRequest doesn't allow to return different body depending on the url"
FakeRequest doesn't allow to return different RequestBody depending on the url.
Needs to add new methods to FakeRequest
[code]

[2015-04-22 06:56] dmzaytsev commented on #82
@yegor256 @dmarkov could you please assign this task to me?

[2015-04-23 19:00] yegor256 commented on #82
@dmarkov please assign @dmzaytsev to this task

[2015-04-24 07:17] dmarkov commented on #82
@dmzaytsev this task will get someone's attention soon

[2015-04-24 07:20] dmarkov commented on #82
@dmzaytsev thanks for the ticket, your account was topped for 15 mins, payment 55972701

[2015-04-24 10:06] dmarkov commented on #82
@yegor256 OK @dmzaytsev please start, the task is yours

[2015-04-25 04:09] dmzaytsev commented on #82
@dmarkov the PR here #83  please find someone to review. Thanks.

[2015-04-27 15:53] AlehVasilyeu opened #84 "Is it real to use InputStream to download file from URL?"
As I understood body loads entirely, when fetch called. Is there a way to get InputStream of response?

It's a bit confusing if need to load a big files.

[2015-05-04 07:56] dmzaytsev commented on #82
@dmarkov I am closing the task
[the reason:](https://github.com/jcabi/jcabi-http/pull/83#issuecomment-98603224)

@dmzaytsev I would just close it. no need to develop all this in jcabi-http if we have Takes

[2015-05-04 07:56] #82 closed

[2015-05-05 10:12] dmarkov commented on #82
@dmzaytsev I added **30 mins** to your account, many thanks for working with the project! The completion time here was 56747190.. +30 to your rating, your total score is [+1182](http://www.netbout.com/b/35166?open=rating)

[2015-05-10 14:51] super132 opened #85 "RequestBody.BaseBody.formParam append extra '&' at the end of last request parameter"
`RequestBody.BaseBody.formParam()` now always appends '&' at the end of every name-value pair of form parameters. However, there should be no '&' at the last name value pair. I would suggest to drop out the extra '&' when calling `back()` method.

[2015-05-11 07:25] dmarkov commented on #85
@super132 I am aware of the task, give me some time to find a developer...

[2015-05-11 07:27] dmarkov commented on #85
@super132 many thanks for the report, I topped your account for 15 mins, transaction AP-6NG1848522157064U

[2015-05-12 08:30] dmarkov commented on #78
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-12 16:26] yegor256 opened #86 "JsonResponse crashes on broken Unicode"

[2015-05-12 16:32] yegor256 commented on #86
@rultor release, tag is `1.10.4`

[2015-05-12 16:57] rultor commented on #86
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3756-101341031)

[2015-05-12 17:10] rultor commented on #86
Release `1.10.4` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-05-12 17:10] rultor commented on #86
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3756-101341031) (took me 12min)

[2015-05-12 17:12] #86 closed

[2015-05-14 07:51] dmarkov commented on #78
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-15 19:48] antonini commented on #73
@dmarkov @yegor256 Please assign this task to me.

[2015-05-15 20:42] yegor256 commented on #73
@dmarkov assign @antonini to this task pls

[2015-05-17 19:23] antonini commented on #73
Implemented but waiting the issue be assigned.

[2015-05-18 17:47] pinaf opened #87 "Muti-part form for file upload"
It would be nice to extend the API with multi-part form for file uploading.

[2015-05-18 23:15] yegor256 commented on #73
@dmarkov assign @antonini to this task pls

[2015-05-19 08:36] dmarkov commented on #73
@yegor256 OK @antonini please start, the task is yours

[2015-05-22 01:54] antonini commented on #73
@carlosmiranda Source code was merged.

[2015-05-22 05:42] carlosmiranda commented on #73
@antonini Thanks! Closing...

[2015-05-22 05:42] #73 closed

[2015-05-25 08:55] dmarkov commented on #73
@antonini Thanks for your contribution, **38 mins** was added to your account, payment ID is `AP-3R530419KW772193W`, 71 hours and 34 mins spent total; m=4294, that's why a bonus here for fast delivery; added +38 to your rating, now it is equal to [+38](http://www.netbout.com/b/35346?open=rating)

[2015-05-26 08:49] cvrebert opened #89 "ETag-based caching"
Similar to the existing but overly simple `CachingWire`, there ought to be another wire that implements caching based on the `ETag` response header and `If-None-Match` request header.

[2015-05-26 08:51] cvrebert opened #90 "Caching based on Last-Modified timestamp"
Similar to the existing but overly simple `CachingWire`, there ought to be another wire that implements caching based on the `Last-Modified` response header and `If-Modified-Since` request header.

[2015-05-27 07:47] benhinssen opened #91 "No timeouts"
As far as I can see I can't specify a timeout on the connection.  Not with the JdkRequest or with the ApacheRequest.

I implemented timeouts in the following fork, but I have some trouble with qulice before I can submit a pull request:
https://github.com/benhinssen/jcabi-http/tree/timeouts

[2015-05-28 04:58] simonjenga opened #92 "Lines in file should end with Unix-like end of line"
[code]

[2015-05-30 03:15] simonjenga opened #94 "duplicate declaration of constants"
[code]

[2015-06-01 07:18] dmarkov commented on #79
@yegor256 Done, thanks all, closing..

[2015-06-01 07:18] #79 closed

[2015-06-03 07:03] dmarkov commented on #85
@yamstranger it's in your hands now, please proceed

[2015-06-04 07:42] dmarkov commented on #77
@yegor256 We are done here, thanks all

[2015-06-04 07:42] #77 closed

[2015-06-04 07:42] dmarkov commented on #78
@yegor256 The task is closed, thanks everybody

[2015-06-04 07:42] #78 closed

[2015-06-10 00:27] cvrebert opened #96 "MkContainer should extend java.io.Closeable"
That way, mock containers can be used in a [try-with-resources statement](https://docs.oracle.com/javase/tutorial/essential/exceptions/tryResourceClose.html), which should almost completely prevent accidental leakage of ports. Currently, users must always remember to call `.stop()` themselves at the end of tests. Human error means that this doesn't always happen. If we make it possible to use try-

[2015-06-10 09:31] simonjenga commented on #92
fixed https://github.com/jcabi/jcabi-http/pull/93
[code]
@dmarkov Transaction ID for this issue?

[2015-06-10 09:31] #92 closed

[2015-06-10 19:09] YamStranger commented on #85
@dmarkov I need more time to fix it

[2015-06-11 08:23] dmarkov commented on #85
@yamstranger of course, take your time

[2015-06-15 07:56] dmarkov commented on #96
@yegor256 dispatch this issue please

[2015-06-15 07:56] dmarkov commented on #81
@yegor256 please pay attention to this issue

[2015-06-15 07:56] dmarkov commented on #84
@yegor256 please do something about this issue

[2015-06-15 07:56] dmarkov commented on #87
@yegor256 please do something about this issue

[2015-06-15 07:56] dmarkov commented on #89
@yegor256 please do something about this issue

[2015-06-15 07:56] dmarkov commented on #90
@yegor256 please dispatch this issue

[2015-06-15 07:56] dmarkov commented on #91
@yegor256 please pay attention to this issue

[2015-06-15 07:56] dmarkov commented on #94
@yegor256 please do something about this issue

[2015-06-15 07:56] dmarkov commented on #80
@yegor256 please pay attention to this issue

[2015-06-18 16:19] dominicfarr opened #97 "Basic auth information logged by RetryWire"
When RetryWire fails, it logs a warning message that contains the the url, even if that url contains basic auth information used by BasicAuthWire.

I've had a quick look thought about having BasicAuthWire strip off the url credentials after the auth header is created so RetryWire doesn't have to worry about it. However, that would then put a ordering dependency on the Wires which isn't great.

The

[2015-06-22 08:16] dmarkov commented on #97
@yegor256 dispatch this issue please

[2015-06-23 21:10] yegor256 commented on #84
@AlehVasilyeu it's not possible at the moment, but we can try to refactor the lib, to make it possible

[2015-06-23 21:11] yegor256 commented on #81
@bugs84 sorry for the delay in replying. this is by design. we capitalize all headers, as they should be in HTTP. why can't you just correct your tests?

[2015-06-23 21:13] yegor256 commented on #91
@benhinssen thanks for the contribution! please, submit a pull request and we'll try to help you to make it suitable for qulice

[2015-06-24 01:43] yegor256 commented on #94
@simonjenga I haven't published this article yet, but you can see the draft: https://raw.githubusercontent.com/yegor256/blog/master/_drafts/literals.md

[2015-06-24 08:17] dmarkov commented on #87
@pinaf thanks for reporting! I topped your account for 15 mins, transaction AP-0VR931824C1456809

[2015-06-24 08:21] bugs84 commented on #81
I know, that headers should start with capital letter. But I am writing a proxy application. And my proxy is resending headers as they are. Some (third-party) applications use bad headers (without capital letter). And these applications doesn't work, when gets "HeaderName" isnstead of "headerName".
I think, that jcabi-http is HttpClient and i should be able send what ever header I want and jcabi-h

[2015-06-29 07:02] dmarkov commented on #91
@rultor rultor closed it (automatically), @benhinssen please take a look

[2015-06-29 07:15] benhinssen commented on #91
@dmarkov Thanks, it was solved by the pull request #99.  I'll close the issue.

[2015-06-29 07:15] #91 closed

[2015-06-30 02:29] yegor256 commented on #81
@bugs84 well, we're trying to be HTTP compliant, that's why correcting you when you're making "mistakes" :) it's by design, we can't change that

[2015-06-30 02:29] #81 closed

[2015-06-30 08:17] bugs84 commented on #81
Ok, I will use another http client for my case.
sorry for wasting your time with this invalid

[2015-07-02 07:20] benhinssen opened #100 "Optional dependencies page outdated"
I noticed that the optional dependencies page is not up to date: http://http.jcabi.com/optional-dependencies.html

When I include `jersey-core` 1.19, I still get an exception when using the `uri()` method.
[code]

If I would include `jersey-client` 1.19, it does work.
[code]

[2015-07-03 08:16] dmarkov commented on #100
@rultor rultor closed it by mistake, @benhinssen please take a look

[2015-07-03 08:30] benhinssen commented on #100
@dmarkov In the master branch this looks ok now.  On the [site](http://http.jcabi.com/optional-dependencies.html) it still shows the previous outdated dependency.

[2015-07-04 09:52] #94 closed

[2015-07-08 11:53] antonini opened #102 "RequestBody.set should have an overload that works with InputStream."
RequestBody.set should have an overload that works with InputStream.

To work with binary files using String should be avoid because it change the content. But at the same time, working with byte[] solves that problem but create a new one.
When you work with byte[] you load all the file in memory, so if you have multiple users uploading large files you can stop you server because all files will be

[2015-07-13 08:55] dmarkov commented on #102
@yegor256 please do something about this issue

[2015-07-13 17:25] yegor256 commented on #102
@antonini it's a duplicate of #84

[2015-07-13 17:25] #102 closed

[2015-08-04 12:28] YamStranger opened #104 "Build failed TrustedWireITCase.ignoresPkixErrors"
Results :

Failed tests:

[code]

[2015-08-04 12:30] YamStranger commented on #104
@dmarkov this issue blocks #85, please fix it

[2015-08-11 09:22] dmarkov commented on #104
@yegor256 dispatch this issue please

[2015-08-11 12:21] yegor256 commented on #104
@YamStranger how can I reproduce this error? I mean, do you always see it or only sometimes?

[2015-08-11 12:25] YamStranger commented on #104
@yegor256 I see it always, when run tests. I found it when prepare fix (https://github.com/jcabi/jcabi-http/pull/103). I think that it is only on my pc, but not. I push "almost empty" test function, just to test builds on Travis CI and AppVeyor and they fail.

[2015-08-17 21:01] longtimeago opened #105 "Add PathMatcher to the library"
We've observed many times (in XH projects) that the library is missing PathMatcher

[code]

Could we add it?

[2015-08-21 09:11] dmarkov commented on #105
@yegor256 please do something about this issue

[2015-08-21 19:34] pinaf opened #106 "Add method `Request#headers(Iterable<String>)`"
Request could use a method `Request headers(Iterable<String>)` that takes multiple headers at once. This would make it easier to easily convert the headers of `Takes` request to a jcabi-http Request.

[2015-08-25 07:10] YamStranger commented on #104
@yegor256, @dmarkov any updates?

[2015-08-25 09:34] dmarkov commented on #106
@yegor256 please do something about this issue

[2015-08-28 17:56] pinaf opened #108 "Travis CI is not configured for container-based infrastructure"
Travis CI introduced a new container-based infrastructure which is a lot faster.
Let's change `.travis.yaml` according to these [instructions](http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade)

[2015-08-30 22:47] YamStranger commented on #104
@yegor256, @dmarkov any updates?

[2015-08-31 07:24] yegor256 commented on #104
@YamStranger it's fixed in c337006 and f1f5a0e

[2015-08-31 07:24] #104 closed

[2015-08-31 16:56] alxn opened #109 "Please add an example of how to use assertHeader() with the Matcher"
It would be great to see an example of [`.assertHeader(String, Matcher<Iterable<String>>)`](http://http.jcabi.com/apidocs-1.8.2/com/jcabi/http/response/RestResponse.html#assertHeader%28java.lang.String,%20org.hamcrest.Matcher%29).

[2015-09-01 09:32] dmarkov commented on #108
@yegor256 dispatch this issue please

[2015-09-03 08:31] yegor256 commented on #108
@pinaf I tried to use it a few months ago, without any good results... there were some problems with Ruby, if I remember it right. anyway, it works fine as it is, why changing?

[2015-09-03 17:11] pinaf commented on #108
@yegor256 I'd say speed and also they'll probably disable the legacy infrastructure sometime.

[2015-09-04 07:43] dmarkov commented on #109
@yegor256 please dispatch this issue

[2015-09-04 07:58] yegor256 commented on #109
@alxn how about this: 3b99dad

[2015-09-04 07:59] yegor256 commented on #109
@alxn oops, my bad: b230d76

[2015-09-04 08:01] yegor256 commented on #109
@alxn even bigger example: 5ccd57d

[2015-09-07 14:20] YamStranger commented on #85
@dmarkov fixed in #107. Close this issue please

[2015-09-09 08:32] dmarkov commented on #85
@yamstranger you should ask @super132 to close it, since he is the opener

[2015-09-09 08:35] #85 closed

[2015-09-09 18:45] longtimeago commented on #96
@yegor256 it would be very useful to make MkContainer implement Closable

[2015-09-09 19:45] longtimeago commented on #96
@dmarkov here is the PR https://github.com/jcabi/jcabi-http/pull/110

[2015-09-11 04:02] pinaf commented on #108
@yegor256 what do you think?

[2015-09-11 07:28] yegor256 commented on #108
@pinaf let's try: f886a00

[2015-09-11 07:59] yegor256 commented on #108
@pinaf seems to be working fine, thanks

[2015-09-11 07:59] #108 closed

[2015-09-11 10:09] longtimeago commented on #96
@cvrebert please, close the issue. It's done. Thanks!

[2015-09-11 10:10] longtimeago commented on #96
@yegor256 please, release new version

[2015-09-11 10:13] #96 closed

[2015-09-11 10:26] yegor256 commented on #96
@rultor release, tag is `1.12`

[2015-09-11 10:27] rultor commented on #96
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5098-139511531)

[2015-09-11 10:37] rultor commented on #96
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5098-139511531) (took me 10min)

[2015-09-11 10:46] dmarkov commented on #85
@yamstranger Much appreciated! **30 mins** was added to your account, payment ID `64916008`, time spent is 2356 hours and 10 mins... added +30 to your rating, now it is equal to [-60](http://www.netbout.com/b/35267?open=rating)

[2015-09-11 13:19] dmarkov commented on #96
@longtimeago OK thanks, will take a look soon

[2015-09-13 11:14] yegor256 commented on #106
@pinaf even though it may sound like a good idea, I'm against "universal" interfaces, which have too many methods to satisfy all possible needs. So, my answer is "no", but thanks for the suggestion )

[2015-09-13 11:14] #106 closed

[2015-09-14 07:04] dmarkov commented on #105
@longtimeago thanks for this report, I added 15 mins to your account, in transaction `64982658`

[2015-09-15 13:15] daneshkohan opened #111 "android gradle issue"
Hi there,
I get error through android gradle with the follwoing script:
compile 'com.jcabi:jcabi-http:1.10.4'
error is: Error:Failed to notify project evaluation listener.

Do you know, how to solve this issue?

[2015-09-21 07:02] dmarkov commented on #111
@yegor256 please dispatch this issue

[2015-09-21 10:56] yegor256 commented on #111
@daneshkohan can you tell me how to reproduce this error? what exactly do you do?

[2015-09-26 15:37] invisible-arrow commented on #80
I see that with version 1.11+, we can configure the timeouts using the following:
`Request#timeout(int connect, int read)`
I'll close this ticket as it solves the original problem related to timeouts.

[2015-09-26 15:37] #80 closed

[2015-09-27 06:30] krzyk opened #113 "MkQuery should have method to return body bytes"
To retrieve String body using `MkQuery` one can use `body()` method, but there is no method to retrieve binary data, so it is impossible to test handling of non-text content.
Please add a method that would return `byte[]` of the body, without any transcoding.

[2015-09-29 17:07] longtimeago commented on #113
@yegor256 can we dispatch the issue?

[2015-09-30 08:12] dmarkov commented on #113
@krzyk we will find someone to do this task, soon

[2015-09-30 08:14] dmarkov commented on #113
@krzyk thanks for the report, I topped your acc for 15 mins, payment ID `66328266`

[2015-10-01 17:54] longtimeago commented on #113
@dmarkov please, give it to me. I have a fix

[2015-10-01 17:54] longtimeago commented on #113
@dmarkov here is the fix https://github.com/jcabi/jcabi-http/pull/114

[2015-10-03 16:52] yegor256 commented on #113
@rultor release, tag is `1.13`

[2015-10-03 16:53] rultor commented on #113
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5321-145264317)

[2015-10-03 16:58] rultor commented on #113
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5321-145264317) (took me 5min)

[2015-10-03 17:00] longtimeago commented on #113
@yegor256 cool, thanks!

[2015-10-03 17:00] longtimeago commented on #113
@krzyk please, close the issue

[2015-10-03 17:19] krzyk commented on #113
@longtimeago great, thanks

[2015-10-03 17:19] #113 closed

[2015-10-04 15:35] yegor256 commented on #76
@rultor hello

[2015-10-04 15:36] rultor commented on #76
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-10-04 15:36] yegor256 commented on #76
@rultor status

[2015-10-04 15:37] rultor commented on #76
@yegor256 This is what's going on here:

 * no new requests registered
 * build is not running

More information about Rultor commands you can get [here](http://doc.rultor.com/commands.html).

[2015-10-05 07:26] dmarkov commented on #113
@longtimeago @yegor256 any objections?

[2015-10-05 07:26] dmarkov commented on #113
@longtimeago OK thanks

[2015-10-12 23:08] yegor256 opened #115 "parent 1.20.1"

[2015-10-12 23:09] yegor256 commented on #115
@rultor release, tag is `1.14`

[2015-10-12 23:09] #115 closed

[2015-10-12 23:09] rultor commented on #115
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5437-147545542)

[2015-10-12 23:18] rultor commented on #115
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5437-147545542) (took me 9min)

[2015-10-15 08:08] dmarkov commented on #90
@pecko the issue is yours, please help

[2015-12-01 09:15] dmarkov commented on #90
@olegsimanov it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-12-09 13:39] yegor256 commented on #100
@rultor release, tag is `1.14.1`

[2015-12-09 13:42] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4398-163237947)

[2015-12-09 13:43] yegor256 opened #116 "java.net.BindException: No free port within range"
Sometimes we don't have enough ports:

[code]

We should not crash in that case, but wait a few seconds and try again.

[2015-12-09 13:59] dmarkov commented on #116
@yegor256 I just added bug tag here

[2015-12-09 14:03] rultor commented on #100
@benhinssen @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/4398-163237947) (spent 21min)

[code]

[2015-12-09 14:05] yegor256 commented on #100
@rultor release, tag is `1.14.1`

[2015-12-09 14:05] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4398-163246948)

[2015-12-09 16:07] rultor commented on #100
@benhinssen @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/4398-163246948) (spent 2hr)

[code]

[2015-12-09 16:08] yegor256 commented on #100
@rultor release, tag is `1.14.1`

[2015-12-09 16:09] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4398-163307530)

[2015-12-09 16:32] rultor commented on #100
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4398-163307530) (took me 23min)

[2015-12-09 16:33] yegor256 commented on #100
@benhinssen please take a look, should be OK now. Please close the ticket if done. Thanks.

[2015-12-10 07:36] dmarkov commented on #116
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-0725edcf`

[2015-12-10 20:09] olegsimanov commented on #90
Looks like its not possible to set response status to 304 in case client uses "If-Modified-Since" header. I'm not able to create DefaultResponse outside of request package nor can I set status because it's immutable. This task requires to modify response headers to set/add "Last-Modified" header with time stamp. Should I break the immutability of the DefaultResponse class?

[2015-12-14 12:23] benhinssen commented on #100
@yegor256 Looks ok!

[2015-12-14 12:23] #100 closed

[2015-12-16 10:15] dmarkov commented on #90
@olegsimanov check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. added -30 to your rating, now it is equal

[2016-01-06 11:31] dmarkov commented on #90
@piddubnyi can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here; Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-07 09:14] yegor256 opened #117 "JsoupResponse doesn't close tags"

[2016-01-07 09:14] #117 closed

[2016-01-07 09:31] yegor256 commented on #117
@rultor release, tag is `1.14.2`

[2016-01-07 09:32] rultor commented on #117
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6210-169608097)

[2016-01-07 09:55] rultor commented on #117
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6210-169608097) (took me 23min)

[2016-01-16 09:38] piddubnyi commented on #90
@cvrebert Fix merged now, please close the issue.

[2016-01-16 09:39] #90 closed

[2016-01-18 07:25] dmarkov commented on #89
@gmandnepr this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-18 12:09] gmandnepr commented on #89
@dmarkov pull request created https://github.com/jcabi/jcabi-http/pull/119

[2016-01-19 08:45] dmarkov commented on #90
@piddubnyi Thank you, I have added **30 mins** to your account in payment/transaction "`75037159`", time consumed: 283 hours and 53 mins

+30 to your rating, your total score is [+15](http://www.netbout.com/b/35966?open=rating)

[2016-01-19 10:43] dmarkov opened #120 "LastModifiedCachingWire.java:141-142: Evict cache entry if If-Modified-Since..."
Puzzle `90-f5d7f05d` in `src/main/java/com/jcabi/http/wire/LastModifiedCachingWire.java:141-142` has to be resolved: Evict cache entry if If-Modified-Since request responded with HTTP_OK code and no Last-Modified header.... The puzzle was created by Igor Piddubnyi on 15-Jan-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the proble

[2016-01-19 10:43] dmarkov commented on #90
@cvrebert these 2 puzzles were created in this ticket: `90-35dd830e`, `90-f5d7f05d`/#120

[2016-01-19 13:13] dmarkov opened #121 "LastModifiedCachingWire.java:46-47: If the original request already..."
Puzzle `90-35dd830e` in `src/main/java/com/jcabi/http/wire/LastModifiedCachingWire.java:46-47` has to be resolved: If the original request already has an If-Modified-Since header it should be sent directly.... The puzzle was created by Igor Piddubnyi on 15-Jan-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2016-01-20 07:25] dmarkov commented on #89
@gmandnepr OK

[2016-01-20 11:51] dmarkov commented on #120
@rajithd could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-21 10:53] piddubnyi opened #122 "CachingWire and LastModifiedCachingWire are not handling Cache-Control and Pragma Headers."
There are specific headers Cache-Control  and Pragma with possible value of no-cache.
But Caching Wires are not supporting that.
Please see http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9
For my opinion check for this headers should be added.

[2016-01-24 17:40] gmandnepr commented on #89
@cvrebert pr is merged, please close the issue

[2016-01-25 07:48] dmarkov commented on #122
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-26 04:33] #89 closed

[2016-01-26 04:46] cvrebert opened #124 "AbstractHeaderBasedCachingWire acts like a memory leak"
Currently, entries are never removed from the cache and there is no limit on the number of entries in the cache. Thus, it's effectively a memory leak.
A simplistic minimal way to address this would be:
- Add a constructor parameter for the maximum number of items in the `ConcurrentHashMap cache`
- Add a constructor parameter for an eviction algorithm, which will be invoked with the `cache` wheneve

[2016-01-26 04:51] cvrebert commented on #120
Basically, if the new lacks a `Last-Modified` header, implying it's not cacheable, then there's no point in keeping the old response (which is outdated) in the cache. (And obviously the new response can't be cached since it lacks the required header.)

[2016-01-26 08:57] dmarkov commented on #122
@piddubnyi thanks for reporting! I topped your account for 15 mins, transaction 75672808

[2016-01-27 10:47] dmarkov commented on #89
@gmandnepr thank you, added **30 mins** to your acc, payment num is `75784902`, 193 hours and 26 mins spent in total to complete; +30 to your rating, your total score is [+0](http://www.netbout.com/b/36313?open=rating)

[2016-01-28 09:36] dmarkov commented on #121
@amihaiemil it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket; Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-28 09:42] cvrebert commented on #121
After the refactoring that was done in other tickets after the puzzle was created, the change should now be applied to `AbstractHeaderBasedCachingWire` with regard to `this.cmch` instead of `"If-Modified-Since"`.

[2016-01-29 09:30] dmarkov commented on #124
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-29 17:12] amihaiemil commented on #121
@dmarkov I created PR #125 for this.

[2016-02-01 07:18] dmarkov commented on #121
@amihaiemil thank you!

[2016-02-01 07:23] dmarkov commented on #87
@nikoladespotoski could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-02-03 06:54] amihaiemil commented on #121
@dmarkov The pull request for this has been merged successfully.

[2016-02-04 07:56] dmarkov commented on #121
@amihaiemil OK

[2016-02-05 07:08] dmarkov commented on #120
@rajithd the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; as a reminder, don't forget to remove the `@todo` puzzle from the

[2016-02-05 21:41] amihaiemil commented on #121
@dmarkov Is there something left that needs to be done here before closure? The PR was successfully merged and closed already.

[2016-02-08 07:50] dmarkov commented on #121
@yegor256 Closed, thanks all

[2016-02-08 07:50] #121 closed

[2016-02-08 07:51] dmarkov commented on #121
@amihaiemil Thank you, I have added **30 mins** to your account in payment/transaction "`AP-2NT531192B802444F`", time consumed: 169 hours and 54 mins

added +30 to your rating, now it is equal to [+30](http://www.netbout.com/b/36402?open=rating)

[2016-02-14 21:53] krzyk opened #126 "Upgrade to grizzly web server 2.x"
Currently project uses 1.x line of grizzly web server, but there is already a 2.x line available with new features.
Notable feature is a way to tell grizzly to reserve a free port (by providing a `0` as a port number), this will solve #116 (see ~~https://java.net/jira/browse/GRIZZLY-1001~~ https://github.com/eclipse-ee4j/grizzly/issues/1001).

[2016-02-16 07:58] simonjenga opened #127 "additional constants for HTTP method"
In the interface: ```com.jcabi.http.Request``` , the following additional constants for HTTP method should be added to the existing ones.
[code]

[2016-02-16 09:42] NikolaDespotoski commented on #87
@dmarkov Assign someone else

[2016-02-16 09:48] dmarkov commented on #87
@nikoladespotoski just a reminder that you're working with this task for 15 days already. -30 to your rating, your total score is [+280](http://www.netbout.com/b/36438?open=rating)

[2016-02-16 10:00] NikolaDespotoski commented on #87
@yegor256 Points were deducted just after I asked to be assigned someone else.

[2016-02-16 12:57] dmarkov commented on #87
@nikoladespotoski got it, someone else will be assigned soon

[2016-02-22 13:04] dmarkov commented on #126
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-02-22 13:04] dmarkov commented on #127
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-24 05:40] yegor256 opened #129 "CachingWire must allow lifetime configuration"

[2016-02-24 05:40] #129 closed

[2016-02-24 05:46] yegor256 commented on #129
@rultor release, tag is `1.15`

[2016-02-24 05:47] rultor commented on #129
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7249-188085110)

[2016-02-24 06:12] rultor commented on #129
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7249-188085110) (took me 25min)

[2016-02-25 00:16] yegor256 opened #130 "FileCacheableWire"

[2016-02-25 00:16] #130 closed

[2016-02-25 06:16] yegor256 commented on #130
@rultor release, tag is `1.16`

[2016-02-25 06:17] rultor commented on #130
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7279-188632332)

[2016-02-25 06:46] rultor commented on #130
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7279-188632332) (took me 29min)

[2016-03-31 21:03] krzyk commented on #126
@yegor256 ping

[2016-04-11 18:37] jgl-jll opened #131 "Does jcabi-http Support Sending multipart/form-data?"
Does jcabi-http Support Sending multipart/form-data?

An example of the API I'm trying to call is:
https://strava.github.io/api/v3/uploads/

POST https://www.strava.com/api/v3/uploads

Thanks,
Jacob

[2016-04-15 08:01] dmarkov commented on #131
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-04-17 17:29] yegor256 commented on #131
@jgl-jll nope, we don't have that

[2016-04-17 17:29] #131 closed

[2016-04-19 09:28] dmarkov commented on #126
@krzyk many thanks for the report, I topped your account for 15 mins, transaction 84050521

[2016-04-19 11:46] petarmitrovic commented on #111
I'm facing the same issue - just added following line to the dependencies block within my Gradle build file:
`compile 'com.jcabi:jcabi-http:1.16'`

[2016-05-04 10:31] amihaiemil opened #132 "Make JsonResponse.VerboseReader more flexible"
[JsonResponse.VerboseReader] (https://github.com/jcabi/jcabi-http/blob/5d7fb25dd1ba9e39aaf3ad5a129a37d1bc06cfc7/src/main/java/com/jcabi/http/response/JsonResponse.java) has 3 ``read`` methods to get the parsed json out of the response.

1) ``read()`` parses the response as a JsonStructure, which is hierarchicaly above ``JsonObject and Json Array``. Throws exception if there is any formatting error

[2016-05-05 10:01] amihaiemil commented on #132
@dmarkov Can you see about this one pls?

[2016-05-09 07:06] dmarkov commented on #132
@yegor256 please do something about this issue

[2016-05-11 04:58] amihaiemil commented on #132
@yegor256 can you have a look here pls? Thanks

[2016-05-12 07:31] amihaiemil commented on #132
@yegor256 ping

[2016-05-16 07:13] dmarkov commented on #120
@westonized can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-05-16 07:19] amihaiemil commented on #132
@yegor256 Don't forget about this pls

[2016-05-16 23:00] westonal opened #135 "Tests are fragile"
Had 1/2 failing/total build:
https://travis-ci.org/jcabi/jcabi-http/builds/130657365

Expected 2 passing builds:
https://travis-ci.org/jcabi/jcabi-http/builds/130705938

And there was no actual code changes between those commits.

Appears to fail randomly due to not being able to find a port:

[2016-05-20 19:02] westonized commented on #120
@dmarkov The work is done and reviewed, can you follow this up for closure please? PR #134

[2016-05-23 07:03] dmarkov commented on #135
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-05-26 08:01] dmarkov commented on #120
@westonized PR is still open. once it's merged, we'll close this ticket

[2016-05-27 08:59] super132 opened #136 "Jcabi-http proxy tunneling support"
It would be great if jcabi-http supports HTTP proxy settings / tunneling. Right now in environments that traffic requires proxy access, jcabi-http fails to do so as it does not accept any proxy information to establish the connection. This limits the usage of this library.

[2016-05-29 10:03] westonized commented on #120
@dmarkov I know, it's waiting on yegor, 10 days now, is this normal? Has nobody else got any authority to merge?

[2016-05-30 09:14] dmarkov commented on #136
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-06-01 07:17] dmarkov commented on #120
@westonized @yegor256 could you please help us here?

[2016-06-06 08:32] pstorch opened #137 "MkGrizzlyAdapter, MkAnswer don't work properly with binary body"
`MkAnswer.Simple()` offers a Constructor with a `byte[]` body. But it's not possible to work with arbitrary binary content (e.g. images) here, because it is converted to `String` and `byte[]` back and forth with a default encoding of `UTF-8`.
`MkAnswer.body()` returns the body as a `String` and the `MkGrizzlyAdapter` again converts it to `byte[]`.

[2016-06-09 11:33] dmarkov commented on #137
@yegor256 please do something about this issue

[2016-06-15 15:23] yiyiwangru opened #138 "It does not work properly when the response header includes 'Content-Encoding: gzip'."
It does not work properly when the response header includes 'Content-Encoding: gzip'. Please fix it.

[2016-06-16 03:37] yegor256 commented on #132
@amihaiemil I don't understand this:

We should fail as often as possible (Fail Fast), but you're suggesting to make our code more tolerant to mistakes. That's just wrong. The same for your second suggestions.

Read this: http://www.yegor256.com/2015/08/25/fail-fast.html

[2016-06-16 03:37] #132 closed

[2016-06-18 09:01] westonized commented on #120
@dmarkov PR's merged so can this get closed and I get paid?

[2016-06-20 07:01] dmarkov opened #139 "LastModifiedCachingWireTest.java:62-69: Clean tests shared fields and..."
Puzzle `120-e6bf947f` in `src/test/java/com/jcabi/http/wire/LastModifiedCachingWireTest.java:62-69` has to be resolved: Clean tests shared fields and redundant variables Move constants in this file to their tests because tests must share nothing. Then also inline any redundant variables. Please also configure pdd and est in.travis.yml as done e.g. in https://github.com/jcabi/jcabi-xml/blob/master/

[2016-06-20 07:01] dmarkov commented on #120
@yegor256 2 puzzles were created here: `120-e6bf947f`/#139, `120-2756c8f7`

[2016-06-20 07:02] dmarkov commented on #138
@yegor256 please dispatch this issue

[2016-06-20 08:22] dmarkov opened #140 "LastModifiedCachingWireTest.java:211-219: Confirm cache clearing behaviour in..."
Puzzle `120-2756c8f7` in `src/test/java/com/jcabi/http/wire/LastModifiedCachingWireTest.java:211-219` has to be resolved: Confirm cache clearing behaviour in all non-OK responses Non-OK behaviour was not specified in #120, so for example, if the response is 404 as below, does it make any sense to keep the item in cache? Is it likely a server will respond 404, and then later the exact unmodified co

[2016-06-21 07:52] dmarkov commented on #120
@yegor256 Done, the task is closed

[2016-06-21 07:52] #120 closed

[2016-06-21 07:54] dmarkov commented on #120
@westonized thank you, added **30 mins** to your acc, payment num is `AP-8M112932NC376593R`, 839 hours and 48 mins spent in total to complete... +30 added to your rating, current score is: [+45](http://www.netbout.com/b/37035?open=rating)

[2016-06-23 08:54] dmarkov commented on #135
@westonized many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `AP-36655606EG4877525`

[2016-06-27 21:01] yegor256 commented on #138
@dmarkov pls assign @westonized

[2016-06-27 21:02] yegor256 commented on #136
@dmarkov pls assign @westonized

[2016-06-27 21:11] yegor256 commented on #137
@dmarkov assign @westonized to this pls

[2016-06-27 21:21] westonized commented on #138
@yiyiwangru Please explain the problem further and or provide an example.

[2016-06-27 21:26] westonized commented on #138
@dmarkov @yegor256 is this actually ready for assignment? Do we know what problem is to be solved from this report? I might assume the problem is something like "it does not un-gzip the body"?

[2016-06-28 01:31] yiyiwangru commented on #138
@westonized The response content is compressed with gzip, but jcabi does not deal with it. So i can't get the right body by "resp.body()" method. That's what i want to express.

[2016-06-28 05:31] westonized commented on #138
@yiyiwangru thanks for confirming that

[2016-06-28 10:27] dmarkov commented on #138
@yegor256 yep, done. @westonized it is your task now

[2016-06-28 10:27] dmarkov commented on #137
@yegor256 done. @westonized you are assigned to this task. please proceed...

[2016-06-28 10:27] dmarkov commented on #136
@yegor256 yep, done. @westonized it is your task now

[2016-06-28 10:40] dmarkov commented on #136
@super132 thanks for reporting! I topped your account for 15 mins, transaction AP-6RL05986X3753332C

[2016-06-29 01:19] jamtorres03 commented on #115
@rultor hello

[2016-06-29 01:19] rultor commented on #115
@jamtorres03 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2016-06-29 12:25] westonized commented on #138
@dmarkov Blocked by #137 as can't easily test until binary is supported.

[2016-06-29 12:26] westonized commented on #137
@dmarkov what happens here? OP's done the work I was working on.

[2016-07-01 12:43] westonized commented on #137
@dmarkov it's OK, they have not done a PR, my mistake

[2016-07-01 22:16] westonized commented on #136
@yegor256 This is so wide open, as ARC can you provide an example of the desired syntax?

i.e. adjust this to take proxy settings, and does it also require to take authentication?

[code]

[2016-07-04 08:45] dmarkov commented on #138
@westonized sure, let's wait for #137

[2016-07-04 08:45] dmarkov commented on #137
@westonized yes, indeed. ignore them. it's your ticket, go ahead

[2016-07-07 22:22] yegor256 commented on #136
@westonized I think it should be done like this:

[code]

[2016-08-05 16:00] vrrs commented on #137
Any updates on this issue ? Its preventing to write tests with compressed files as bodies.

[2016-08-08 07:26] dmarkov commented on #87
@amihaiemil the task is yours

[2016-08-09 13:11] amihaiemil commented on #87
@pinaf Can you maybe give me a hint here? How would you start implementing this? The requirement seems a bit vaguely formulated to me :D

[2016-08-09 13:18] pinaf commented on #87
@amihaiemil there is no multi-part document support currently. check out this answer for what I'd like to see http://stackoverflow.com/questions/8659808/how-does-http-file-upload-work
As to how it should be implemented, I have no idea :)

[2016-08-09 14:38] krzyk commented on #136
@westonized any updates on the solution?

[2016-08-10 13:35] amihaiemil commented on #87
@dmarkov I created PR #142 for this

[2016-08-11 07:47] dmarkov commented on #87
@amihaiemil thanks

[2016-08-21 15:16] amihaiemil commented on #87
@dmarkov I need more time

[2016-08-22 07:15] dmarkov commented on #87
@amihaiemil of course, take your time

[2016-09-06 09:09] dmarkov commented on #137
@rultor rultor closed it by mistake, @pstorch please take a look

[2016-09-06 09:10] rultor commented on #137
@dmarkov I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2016-10-31 13:24] andrejserafim opened #145 "MkGrizzlyContainer takes 1s to start/close"
Can be reproed with

[code]

Profiling reveals that it's waiting for 1s at `com.sun.grizzly.Controller#waitUntilSelectorHandlersStop`.

Looks like the `Controller` is waiting on this AtomicLong before firing the stop events, but the selector handler threads are awaiting the stop events fired *after* we wait here. So it looks like the there's effectively a 1s sleep here.

Anything we can do about t

[2016-11-04 07:56] dmarkov commented on #145
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-11-04 08:17] andrejserafim opened #146 "NPE when protocol missing"
The error reported by `JdkRequest` is rather poor when the protocol is missing, but the port is present.

[code]

yields
[code]

In comparison
[code]
yields
[code]

[2016-11-07 09:05] dmarkov commented on #146
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-11-11 15:15] php-coder opened #147 "Typo in JsoupResponse javadoc"
When I'm opening [`JsoupResponse` javadoc](http://http.jcabi.com/apidocs-1.16/com/jcabi/http/response/JsoupResponse.html) I see this:
[code]
Here, instead of `<trgt;` should be `<tr>`.

[2016-11-11 15:22] php-coder opened #148 "Is restriction from README about Java8 up-to-date?"
At the end of `README` file I read the following:
[code]
As I can see teamed/qulice#379 is fixed, so, most likely, this isn't an issue anymore.

[2016-11-15 07:34] dmarkov commented on #147
@yegor256 please dispatch this issue

[2016-11-15 07:34] dmarkov commented on #148
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-11-18 16:54] yegor256 commented on #147
@php-coder fixed in e93351c thanks!

[2016-11-18 16:54] #147 closed

[2016-11-21 20:10] amihaiemil commented on #87
@pinaf the pr was merged. Can u close this? :)

[2016-11-21 20:32] pinaf commented on #87
@amihaiemil thx!

[2016-11-21 20:32] #87 closed

[2016-11-21 20:56] yegor256 commented on #148
@php-coder fixed in 01f6498 thanks!

[2016-11-21 20:56] #148 closed

[2016-11-22 12:10] yegor256 commented on #145
@andrejserafim sure, we have to fix this. Maybe you can contribute with a pull request?

[2016-11-23 07:57] dmarkov commented on #87
@amihaiemil paid, thanks, added **30 mins** to your account, payment `AP-49K48919JG010304P`, 2543 hours and 39 mins was spent

+30 added to your rating, current score is: [+979](http://www.netbout.com/b/36402?open=rating)

[2016-11-23 08:16] amihaiemil commented on #146
@yegor256 I could take this :D

[2016-11-23 11:30] dmarkov opened #150 "BaseRequest.java:470-476: Implement and unit test method..."
Puzzle `87-bd2cb401` in `src/main/java/com/jcabi/http/request/BaseRequest.java:470-476` has to be resolved: Implement and unit test method formParam(String, Object) Details

here

(second answer).

e.g. While FormEncodedBody.formParam adds the param to a body with enctype application/x-www-form-urlencoded, method MultipartFormBody.formParam should add it to a body with enctype multipart/form-data.

[2016-11-23 11:30] dmarkov commented on #87
@pinaf these 2 puzzles were created in this ticket: `87-5547b016`, `87-bd2cb401`/#150

[2016-11-23 13:06] dmarkov opened #151 "BaseRequest.java:69-76: Refactor this class to get..."
Puzzle `87-5547b016` in `src/main/java/com/jcabi/http/request/BaseRequest.java:69-76` has to be resolved: Refactor this class to get rid of PMD.GodClass. This can be done if MultiPartFormBody and FormEncodedBody are pulled out. Also, the two share the same implementations for all methods besides formParam, so they can be refactored to extend an AbstractRequestBody. PMD.TooManyMethods might come to

[2016-11-29 08:08] dmarkov commented on #146
@amihaiemil the task is yours (budget is 30 mins)

[2016-11-29 09:07] amihaiemil commented on #146
@dmarkov PR #152 is for this issue

[2016-11-29 11:58] dmarkov commented on #146
@amihaiemil thank you

[2016-12-06 14:13] amihaiemil commented on #146
@dmarkov I need more time here. Seems like things are moving rather slowly

[2016-12-07 07:15] dmarkov commented on #146
@amihaiemil no problem, thanks for letting me know

[2016-12-12 15:41] passwone opened #153 "Max response size (Response.binary)"
Hello, nice library !
I'm looking for a way to reject response when his content size exceed a limit.
Unfortunately, JdkRequest and ApacheRequest already "consume" all the content and place it into an array of bytes. Did you already have this kind of needs ?

[2016-12-15 11:45] amihaiemil commented on #153
@passwone I had a quick look now - there is nothing "clean" you can do since JdkRequest uses it's own private Wire which always extracts the body content. Clearly some design changes would need to be done in the library to offer the flexibility you're mentioning.

Until that will be done (if this ticket is approve by the architect), **I think** you could use a fake [Wire](https://github.com/jcabi/

[2016-12-15 14:55] passwone commented on #153
@amihaiemil thanks for your response. I rewrote a new Wire based on JdkRequest's Wire. But, as you said, it's not quite elegant :)
I have no "real" idea of changes that can be made in the library to handle this "feature". I think that like TrustedWire (use of global variable trick and thread lock are equally dirty to me), something is missing in the Wire definition. If one of the architect could e

[2016-12-15 14:59] amihaiemil commented on #153
@passwone Yes, it will be a fun thing to implement. Most likely using decorators of Request and/or Response, I didn't analyze in such depth.

A big issue, however, would be to keep backwards compatibility. Anything can be done, but I don't think we don't want existing users to start getting red errors and have to rewrite the code when they increment the lib's version in pom.xml :D

Anyway, a PM wi

[2016-12-15 15:04] amihaiemil commented on #153
@passwone please, just stay on the line, don't deactivate notifiacations from this issue - if it's approved, you'll have to close it in the end; it's how we work :)

[2016-12-15 15:31] passwone commented on #153
@amihaiemil Exactly! It's the way to go ;)
I let the issue opened hoping that it will create some talks about the best way to go to create more elegant OOP version of this library !

[2016-12-15 17:54] amihaiemil commented on #146
@andrejserafim pr was merged. Can u close this? :D

[2016-12-16 08:41] andrejserafim commented on #146
@amihaiemil Thanks for fixing!

[2016-12-16 08:41] #146 closed

[2016-12-21 07:26] dmarkov commented on #153
@yegor256 please dispatch this issue

[2016-12-22 08:39] dmarkov commented on #139
@yegor256 Done, the task is closed

[2016-12-22 08:39] #139 closed

[2016-12-22 08:39] dmarkov commented on #140
@yegor256 Finished, thanks, closing..

[2016-12-22 08:39] #140 closed

[2016-12-22 08:39] dmarkov commented on #150
@yegor256 Thanks, closed

[2016-12-22 08:39] #150 closed

[2016-12-22 08:39] dmarkov commented on #151
@yegor256 The issue should be closed..

[2016-12-22 08:39] #151 closed

[2016-12-22 08:41] dmarkov commented on #146
@amihaiemil Thanks so much! Your account was topped up for **30 mins** (transaction ID is `AP-9TB62392JN0391332`, the task took 527 hours and 18 mins). added +30 to your rating, now it is equal to [+1001](http://www.netbout.com/b/36402?open=rating)

[2017-01-02 14:17] piotrkot opened #154 "Stopping JdkRequest"
I have encountered sometimes problems when stopping `JdkRequest`. No matter if it's through a special `Wire` (like `OneMinuteWire`) or by `future.cancel(true)`. The issue can be related to jcabi-aspects.

[2017-01-02 14:18] piotrkot commented on #154
It seems using `ApacheRequest` is more reliable.

[2017-01-06 13:38] dmarkov commented on #154
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2017-01-07 04:19] yegor256 commented on #154
@piotrkot what exactly is the problem? It doesn't stop?

[2017-01-12 10:20] piotrkot commented on #154
@yegor256 Sorry that was a storm in a teacup. Anyway, I will share my findings.
I have integration tests with mocked server (using Takes framework). It was reproducible that Jdk requests were pending after the server was stopped.
That happened, firstly, because I had a bug in closing the server and sockets got stuck with CLOSE_WAIT status. Secondly, the killed Jdk requests had still open connectio

[2017-01-12 10:21] piotrkot commented on #154
I'm closing the issue.

[2017-01-12 10:21] #154 closed

[2017-02-13 09:53] amihaiemil commented on #153
@yegor256 can I have this?

[2017-03-18 18:55] sekulicd opened #156 "@rultor hello"

[2017-03-18 18:55] 0crat commented on #156
@yegor256 please, pay attention to this issue

[2017-03-18 18:56] sekulicd commented on #115
@rultor hello

[2017-03-18 18:57] rultor commented on #115
@sekulicd Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2017-04-09 15:40] chmodas opened #157 "JSON response with the Jackson Project"
I often find myself including the JSONP (jsonp.java.net) dependencies while using Jackson everywhere else. A "JacksonResponse" would be ideal, in order to trim down the dependencies.

[2017-04-09 15:40] 0crat commented on #157
@yegor256 please, pay attention to this issue

[2017-04-09 15:40] chmodas commented on #157
I've created a pull request implementing this feature.

[2017-04-25 13:11] jakob-o opened #159 "BasicAuthWire URL encodes credentials (twice)"
Hi,
unfortunately the BasicAuthWire is not usable with usernames / passwords that need to be URL encoded since
[code]
here https://github.com/jcabi/jcabi-http/blob/master/src/main/java/com/jcabi/http/wire/BasicAuthWire.java#L119
already requires username and password to be URL encoded and here
https://github.com/jcabi/jcabi-http/blob/master/src/main/java/com/jcabi/http/wire/BasicAuthWire.java#L131

[2017-04-25 13:11] 0crat commented on #159
@yegor256 please, pay attention to this issue

[2017-04-25 13:28] jakob-o commented on #159
Addendum: If I am not mistaken, they actually must **not** be URL encoded at all to generate the Base64 string, this actually means the URL encode here
https://github.com/jcabi/jcabi-http/blob/master/src/main/java/com/jcabi/http/wire/BasicAuthWire.java#L131
should be a URL **de**code.

[2017-04-25 14:38] jakob-o opened #160 "Timeout not respected when chaining calls"
Hi,

it looks like the timeouts are only respected if set directly before `fetch()` otherwise they get lost, e.g.
[code]

Regards

Jakob

[2017-04-25 14:38] 0crat commented on #160
@yegor256 please, pay attention to this issue

[2017-04-25 16:36] #156 closed

[2017-04-26 07:05] yegor256 commented on #159
@jakob-o make sense... Would be great if you can you create a unit test that proves that the code is broken and a fix, in a pull request. Can you do that or you want us to fix this issue?

[2017-04-26 07:23] jakob-o commented on #159
@yegor256 Sure, but might take me a few days since I am busy.

Regards

Jakob

[2017-04-26 08:49] yegor256 commented on #159
@jakob-o thanks, we'll wait!

[2017-04-26 14:25] 0pdd opened #161 "LastModifiedCachingWireTest.java:62-69: Clean tests shared fields and..."
The puzzle `120-e6bf947f` in [`src/test/java/com/jcabi/http/wire/LastModifiedCachingWireTest.java`](https://github.com/jcabi/jcabi-http/blob/master/src/test/java/com/jcabi/http/wire/LastModifiedCachingWireTest.java) (lines 62-69) has to be resolved: Clean tests shared fields and redundant variables Move constants in this file to their tests because tests must share nothing. Then also inline any re

[2017-04-26 14:25] 0pdd opened #162 "LastModifiedCachingWireTest.java:211-219: Confirm cache clearing behaviour in..."
The puzzle `120-2756c8f7` in [`src/test/java/com/jcabi/http/wire/LastModifiedCachingWireTest.java`](https://github.com/jcabi/jcabi-http/blob/master/src/test/java/com/jcabi/http/wire/LastModifiedCachingWireTest.java) (lines 211-219) has to be resolved: Confirm cache clearing behaviour in all non-OK responses Non-OK behaviour was not specified in #120, so for example, if the response is 404 as below

[2017-04-26 14:25] 0pdd opened #163 "BaseRequest.java:69-76: Refactor this class to get rid of..."
The puzzle `87-5547b016` in [`src/main/java/com/jcabi/http/request/BaseRequest.java`](https://github.com/jcabi/jcabi-http/blob/master/src/main/java/com/jcabi/http/request/BaseRequest.java) (lines 69-76) has to be resolved: Refactor this class to get rid of PMD.GodClass. This can be done if MultiPartFormBody and FormEncodedBody are pulled out. Also, the two share the same implementations for all me

[2017-04-26 14:25] 0crat commented on #161
@yegor256 please, pay attention to this issue

[2017-04-26 14:25] 0crat commented on #162
@yegor256 please, pay attention to this issue

[2017-04-26 14:25] 0pdd opened #164 "BaseRequest.java:470-476: Implement and unit test method..."
The puzzle `87-bd2cb401` in [`src/main/java/com/jcabi/http/request/BaseRequest.java`](https://github.com/jcabi/jcabi-http/blob/master/src/main/java/com/jcabi/http/request/BaseRequest.java) (lines 470-476) has to be resolved: Implement and unit test method formParam(String, Object) Details

here

(second answer).

e.g. While FormEncodedBody.formParam adds the param to a body with enctype applicatio

[2017-04-26 14:25] 0crat commented on #163
@yegor256 please, pay attention to this issue

[2017-04-26 14:25] 0crat commented on #164
@yegor256 please, pay attention to this issue

[2017-04-26 14:33] yegor256 commented on #157
@chmodas it's merged

[2017-04-26 14:34] yegor256 commented on #157
@rultor release, tag is `1.17`

[2017-04-26 14:34] rultor commented on #157
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11523-297427914)

[2017-04-26 16:36] rultor commented on #157
@chmodas @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11523-297427914) (spent 2hr)

[code]

[2017-04-27 13:22] yegor256 commented on #157
@rultor release, tag is `1.17`

[2017-04-27 13:22] rultor commented on #157
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11523-297711531)

[2017-04-27 13:25] rultor commented on #157
@chmodas @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11523-297711531) (spent 2min)

[code]

[2017-04-27 13:45] yegor256 commented on #157
@rultor release, tag is `1.17`

[2017-04-27 13:46] rultor commented on #157
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11523-297717613)

[2017-04-27 13:49] rultor commented on #157
@chmodas @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11523-297717613) (spent 3min)

[code]

[2017-04-27 13:56] yegor256 commented on #157
@rultor release, tag is `1.17`

[2017-04-27 13:56] rultor commented on #157
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11523-297720454)

[2017-04-27 13:58] rultor commented on #157
@chmodas @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11523-297720454) (spent 1min)

[code]

[2017-04-27 14:00] yegor256 commented on #157
@rultor release, tag is `1.17`

[2017-04-27 14:02] rultor commented on #157
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11523-297721808)

[2017-04-27 14:27] rultor commented on #157
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11523-297721808) (took me 25min)

[2017-04-28 05:26] yegor256 commented on #157
@chmodas try 1.17, it includes your changes. If it's done, please close the ticket

[2017-04-28 05:52] yegor256 commented on #160
@jakob-o this is _absolutely_ not possible. But let me investigate :)

[2017-04-28 05:55] yegor256 commented on #160
@jakob-o investigated. It's not possible. Can you please provide a unit test to prove that this really happens.

[2017-04-28 10:39] jakob-o commented on #160
@yegor256 See PR #165

[2017-04-28 11:17] jakob-o commented on #160
It seems, that neither connect nor read are passed to the constructors in a couple of methods, e.g.
[code]
See:
https://github.com/jcabi/jcabi-http/blob/master/src/main/java/com/jcabi/http/request/BaseRequest.java#L200
https://github.com/jcabi/jcabi-http/blob/master/src/main/java/com/jcabi/http/request/BaseRequest.java#L219

[2017-04-30 09:25] yegor256 commented on #160
@jakob-o looks like you're right! Many thanks for the PR. Please, fix your branch so that it passes static analysis checks and I will merge.

[2017-05-08 19:41] #157 closed

[2017-05-08 19:41] 0crat commented on #157
Oops! Job `gh:jcabi/jcabi-http#157` was not in scope

[2017-05-18 13:54] amihaiemil commented on #164
@yegor256 Can I do this? I need it in multipart form functionality completed for another project.

[2017-05-23 06:39] yegor256 commented on #164
@amihaiemil you can, but we're not paying for open source contribution anymore

[2017-05-23 06:39] amihaiemil commented on #164
@yegor256 sure :)

[2017-05-25 07:17] amihaiemil commented on #136
Until this is fixed, if you're using ``JdkRequest``, you can set the proxy on the JVM and it will work. You can easily set it, for example in eclipse:

![image](https://cloud.githubusercontent.com/assets/6305156/26440013/26277fda-4133-11e7-99a7-1284418c1806.png)

If you're using JavaEE you may have to set it on the server's (Jboss, Glassfish etc) JDK as well, unless it uses the jdk provided by the

[2017-06-01 15:02] jakob-o opened #166 "Cancel request"
Hi,

would it be possible to cancel a request. My use case is a long polling client that upon shutdown should be able to cancel any currently active request without having to wait for the read timeout.

Regards

Jakob

[2017-06-01 15:02] 0crat commented on #166
@yegor256 please, pay attention to this issue

[2017-06-02 07:18] yegor256 commented on #166
@jakob-o I would recommend to use `@Timeable` annotation from jcabi-aspects: http://aspects.jcabi.com/annotation-timeable.html

[2017-06-02 08:42] jakob-o commented on #166
Hi @yegor256,

if I am not mistaken this is not different (and probably worse) than setting the timeout on the request itself. What I would like to do is to explicitly cancel a running request (e.g. by closing the underlying socket). E.g.
[code]

Regards

Jakob

[2017-06-23 16:48] jakob-o commented on #159
@yegor256 Created #167

[2017-06-28 08:08] yegor256 commented on #159
@jakob-o thanks!

[2017-06-28 08:09] yegor256 commented on #159
@rultor release, tag is `1.17.1`

[2017-06-28 08:10] rultor commented on #159
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12168-311588326)

[2017-06-28 08:11] jakob-o commented on #159
@yegor256 Would you mind merging #165 too?

Regards

Jakob

[2017-06-28 08:13] yegor256 commented on #159
@rultor stop

[2017-06-28 08:14] rultor commented on #159
@yegor256 OK, I'll try to stop current task.

[2017-06-28 08:14] rultor commented on #159
@jakob-o @yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12168-311589273) (spent 5min)

[code]

[2017-06-28 14:53] yegor256 commented on #159
@rultor release, tag is `1.17.1`

[2017-06-28 14:54] rultor commented on #159
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12168-311684565)

[2017-06-28 15:39] rultor commented on #159
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12168-311684565) (took me 44min)

[2017-06-28 15:40] yegor256 commented on #159
@jakob-o version 1.17.1 is in Maven Central, try it out please

[2017-06-29 07:28] amihaiemil commented on #164
I looked over this, but it's harder then expected -- I think there will need to be little changes in the interfaces too. Until I manage to fix it, users could upload files by constructing their own request body, "manually". It's all explained pretty clrearly in this RFC: https://tools.ietf.org/html/rfc7578

[2017-12-18 18:46] RishikeshDarandale opened #170 "Scope of BaseRequest class"
https://github.com/jcabi/jcabi-http/blob/3fb96cb2d5fca37f729b932e3d71f8a79c94c05c/src/main/java/com/jcabi/http/request/BaseRequest.java#L82

is there any reason to keep the scope of the class as limited?
I want to provide an another concrete implementation of `Request` interface with using the `BaseRequest` functionality.

[2017-12-18 19:47] 0crat commented on #170
@yegor256 please, pay attention to this issue

[2017-12-19 14:26] yegor256 opened #171 "upgrade to jcabi 1.24"
Let's upgrade jcabi parent pom to version 1.24 and fix all Checkstyle and PMD issues.

[2017-12-19 14:31] yegor256 commented on #170
@rultor release, tag is `1.17.2`

[2017-12-19 14:32] rultor commented on #170
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13591-352771509)

[2017-12-19 15:02] rultor commented on #170
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13591-352771509) (took me 30min)

[2017-12-19 15:06] yegor256 commented on #170
@RishikeshDarandale check version 1.17.2.

[2017-12-19 17:37] 0crat commented on #171
Job `gh:jcabi/jcabi-http#171` is in scope.

[2017-12-19 17:38] 0crat commented on #171
Bug was reported: +15 points just awarded to @yegor256, total is [+6385](http://www.0crat.com/u/yegor256).

[2017-12-21 09:28] RishikeshDarandale commented on #170
Thanks @yegor256 for a quick turnaround! Appreciate that!

[2017-12-21 23:41] ashtonhogan opened #172 "class file for org.hamcrest.Matcher not found"
I added this dependency to my project:

[code]

Then I make a request and assert the status from the response:

` restResponse.assertStatus(409);`

When I try to clean and build it, the above line gives this error:

[2017-12-22 06:45] 0crat commented on #172
@yegor256 please, pay attention to this issue

[2017-12-27 21:40] yegor256 commented on #172
@ashtonhogan see http://http.jcabi.com/optional-dependencies.html (closer to the bottom).

[2017-12-27 22:18] ashtonhogan commented on #172
@yegor256 why not include them in yours?

[2017-12-28 17:32] RishikeshDarandale commented on #170
@yegor256 , you need to define the constructors as `public` as well.

[2017-12-29 11:25] yegor256 commented on #172
@ashtonhogan because not every project needs them. Sometimes you don't need to use any assertions, but just want to do `new JdkRequest("http://goog.com").fetch().body()`. In this case, you don't need any dependencies at all.

[2018-01-08 16:49] yegor256 commented on #170
@rultor release, tag is `1.17.3`

[2018-01-08 16:51] rultor commented on #170
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13591-356023556)

[2018-01-08 16:57] rultor commented on #170
@rishikeshdarandale @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13591-356023556) (spent 6min)

[code]

[2018-01-08 16:57] yegor256 commented on #170
@rultor release, tag is `1.17.3`

[2018-01-08 16:59] rultor commented on #170
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13591-356026096)

[2018-01-08 17:06] rultor commented on #170
@rishikeshdarandale @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13591-356026096) (spent 6min)

[code]

[2018-01-08 17:06] yegor256 commented on #170
@rultor release, tag is `1.17.3`

[2018-01-08 17:08] rultor commented on #170
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13591-356028922)

[2018-01-08 17:14] rultor commented on #170
@rishikeshdarandale @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13591-356028922) (spent 6min)

[code]

[2018-01-10 21:22] pstorch commented on #137
I'm fine with it

[2018-01-10 21:22] #137 closed

[2018-01-10 21:23] 0crat commented on #137
Job `gh:jcabi/jcabi-http#137` is not assigned, can't get start time

[2018-01-10 21:23] 0crat commented on #137
Job [#137](https://github.com/jcabi/jcabi-http/issues/137) was not in scope

[2018-01-28 17:03] amihaiemil opened #173 "Maven javadoc plugin complains"
It [started](https://github.com/jcabi/jcabi-http/issues/170#issuecomment-356031132) complaining about certain annotations found in the javadocs. We have to fix this in order to release the new version.

[2018-01-28 17:03] 0crat commented on #173
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 17:49] #173 closed

[2018-01-29 17:50] 0crat commented on #173
Job `gh:jcabi/jcabi-http#173` is not assigned, can't get start time

[2018-01-29 18:00] 0crat commented on #173
Job [#173](https://github.com/jcabi/jcabi-http/issues/173) was not in scope

[2018-04-05 16:13] #172 closed

[2018-04-05 16:29] 0crat commented on #172
The job is not in WBS, won't close the order

[2018-04-12 05:36] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-17 06:36] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-22 07:36] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-23 10:51] yegor256 commented on #171
@0crat out

[2018-04-23 10:51] 0crat commented on #171
@yegor256 GitHub issue is still open, won't close

[2018-04-27 13:37] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-02 23:36] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-08 02:36] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-06-13 11:08] driver733 opened #175 "ApacheRequest does not work while JdkRequest does (POST request)"
I am trying to authenticate using a POST request shown below. I am able to auth properly using a `JdkRequest`, but not with an `ApacheRequest`.

[code]

[code]

What could be the cause of the problem here?

[2018-06-13 11:08] 0crat commented on #175
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-13 11:08] 0crat commented on #175
@driver733[/z](https://www.0crat.com/u/driver733) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-13 14:05] driver733 opened #176 "The "cookie" method does not work properly"
I am trying to use the `cookie` method to retrieve a cookie. However, it seems that it is only able to retrieve the first cookie.
[code]
[code]

The code in the cookie method is equivalent to the following
for (HttpCookie cookie : HttpCookie.parse(auth.headers().get(HttpHeaders.SET_COOKIE).toString())) {
            System.out.println(cookie);
 }
// [user_lang=ru

[2018-06-13 14:05] 0crat commented on #176
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-13 14:05] 0crat commented on #176
@driver733[/z](https://www.0crat.com/u/driver733) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-13 14:11] driver733 commented on #176
The `cookie` method uses the `HttpCookie.parse` method on the whole `Set-Cookie` header. Instead, it must call the`HttpCookie.parse` method on each cookie.

[2018-09-24 12:26] paulodamaso opened #177 "RestResponse.assertBody behavior is broken"
`RestResponse.assertBody` behavior is broken: it is checking all the Response string when it should only check the body part of string.

This makes impossible for testing when we  got an empty message body from server, because `assertBody` considers header section too when asserting if message body has some content.

Please refer to `FtRemotesTest` on https://github.com;yegor256/takes to see how t

[2018-09-24 12:27] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-24 12:27] 0crat commented on #177
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-18 09:54] victornoel commented on #177
@yegor256 @paulodamaso after some investigation (for yegor256/takes#800), I think the problem is not with `assertBody` but with the way body is parsed by jcabi-http.

Take those four examples (using takes).

Expected empty body: it fails, because the body, according to `RestResponse`, is `HTTP/1.1 200 OK\r\n\r\n`:
[code]

The same with `ApacheRequest` fails in the same way.
[code]

Now expecting a

[2018-11-18 18:36] paulodamaso commented on #177
@yegor256 ping

[2018-11-19 16:52] paulodamaso commented on #177
@yegor256 What do you think about it? If this ticket is valid please put it on scope, we have a ticket on takes that depends on it.

[2018-12-25 15:05] yegor256 commented on #177
@paulodamaso done

[2018-12-25 15:06] 0crat commented on #177
Job [#177](https://github.com/jcabi/jcabi-http/issues/177) is now in scope, role is `DEV`

[2018-12-25 15:13] 0crat commented on #177
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-25 15:39] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2018-12-30 16:41] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-01-04 17:39] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-01-09 18:43] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-01-14 19:39] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-01-19 20:41] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-01-20 04:47] fabriciofx commented on #177
@yegor256 assign to me

[2019-01-24 21:41] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-01-29 22:53] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-02-03 23:40] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-02-04 14:45] joris-lambrechts opened #178 "TrustedWire changes SSLSocketFactory globally"
Hi,

We have a multi-threaded app that calls a lot of remote servers (webhooks) for which we use the TrustedWire to ignore certificate validation.

Recently there was a production issue causing slow calls and time outs at random. We traced this back to the use of the TrustedWire which has the following code.

[code]

Below is a test that I wrote to have some _prove_

- with the TrustedWire: 56 sec

[2019-02-04 14:45] 0crat commented on #178
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-04 14:45] 0crat commented on #178
@joris-lambrechts[/z](https://www.0crat.com/u/joris-lambrechts) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-09 00:46] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-02-14 01:43] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-02-19 02:45] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-02-24 03:40] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-01 04:39] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-06 05:39] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-11 06:51] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-16 07:41] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-25 20:21] nnordrum opened #179 "Caching Implementation Inconsistencies"
There currently (that I'm aware of) isn't a way to externalize the cache to a Reddis/Cassandra/etc.

There are a number of caching wires that are unable to do the job:
* `AbstractHeaderBasedCachingWire.java`: cache is a transient `Map` that isn't user replaceable
* `CachingWire.java`: uses guava `Map`, so probably the closest, but not easy/documented how to do it
* `FcWire.java`: cache root is a d

[2019-03-25 20:21] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-25 20:21] 0crat commented on #179
@nnordrum[/z](https://www.0crat.com/u/nnordrum) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-25 20:23] nnordrum commented on #179
I realize `jcabi/jcabi-github` may be the right place the this, but here had more wires.

[2019-05-21 15:59] yegor256 commented on #178
@joris-lambrechts can you submit a pull request with a fix?

[2019-05-22 06:28] benhinssen commented on #178
@yegor256 we looked at it, but it does not seem there is a simple solution without rewriting the whole Wire framework that exists.

[2019-05-25 21:59] joris-lambrechts commented on #178
@yegor256 I gave it a try, let me know what you think.

[2019-07-10 08:50] marcguilera opened #181 "Handle redirects with Authorization header"
I am trying to download a file from a GitHub release using the [api](https://developer.github.com/v3/repos/releases/#response-8) but it seems that upon redirection the `Authorization` header gets messed with based on [this](https://stackoverflow.com/questions/31514336/only-one-auth-mechanism-allowed-only-the-x-amz-algorithm-query-parameter/46992561) response.

This is what I'm doing:

[code]

And

[2019-07-10 08:50] 0crat commented on #181
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-10 08:50] 0crat commented on #181
@marcguilera[/z](https://www.0crat.com/u/marcguilera) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-14 19:38] yegor256 commented on #181
@marcguilera that's a good question. I don't see any errors in your code. Can you try to check the logs to see exactly what HTTP request is being sent?

[2019-07-14 20:10] marcguilera commented on #181
I am away from my computer for a couple days so I can't share the code
right now but I was able to fix it by adding a wire which detects if both
auth methods (header and path) are present and removes the header.

On Sun, Jul 14, 2019, 9:38 PM Yegor Bugayenko <notifications@github.com>
wrote:

[2019-07-15 02:34] pinaf opened #182 "Allow for "Wire" instances to be directly used in "Request""
Currently using a wire means calling
[code]
which leaves the instantiation of the `Wire` object to the request itself, using reflection.

Let's instead add a method
[code]
to the `Request` interface so that `Wire` instances which we control can be used directly.
Besides being a better OOP design, it'll allow for better unit testing which verifies whether a given `Wire` instance was used/called.

[2019-07-15 02:34] 0crat commented on #182
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-15 02:34] 0crat commented on #182
@pinaf[/z](https://www.0crat.com/u/pinaf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-28 10:27] yegor256 commented on #182
@pinaf sure, let's do it, but in addition to the existing reflection-based functionality. Want to submit a PR?

[2019-07-29 04:21] pinaf commented on #182
@yegor256 please see #183

[2019-10-10 09:12] rultor commented on #182
@pinaf @yegor256 Invalid release tag `0.18.0` specified. There is already a release `1.17.2` newer than the given release in this repository.

[2019-10-10 09:13] yegor256 commented on #182
@pinaf thanks, the version `0.18.0` is released

[2019-10-10 09:13] #182 closed

[2019-10-10 09:31] 0crat commented on #182
Job `gh:jcabi/jcabi-http#182` is not assigned, can't get performer

[2019-10-10 09:32] 0crat commented on #182
This job is not in scope

[2019-10-10 10:17] rultor commented on #182
@pinaf @yegor256 Invalid release tag `0.18.1` specified. There is already a release `1.17.2` newer than the given release in this repository.

[2019-10-10 10:17] rultor commented on #182
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-10-10 10:19] yegor256 commented on #182
@rultor release, tag is `1.18.0`

[2019-10-10 10:20] rultor commented on #182
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20567-540503185)

[2019-10-10 10:29] rultor commented on #182
@pinaf @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20567-540503185) (spent 9min)

[code]

[2019-10-11 07:22] yegor256 commented on #182
@pinaf can't release. We have to upgrade to jcabi 1.24 and try again: https://github.com/jcabi/jcabi-http/issues/171

[2019-10-11 07:24] 0crat commented on #171
Job [#171](https://github.com/jcabi/jcabi-http/issues/171) is now in scope, role is `DEV`

[2019-10-11 07:31] 0crat commented on #171
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-10-11 08:35] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#171](https://github.com/jcabi/jcabi-http/issues/171); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-10-16 09:05] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#171](https://github.com/jcabi/jcabi-http/issues/171); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-10-21 09:51] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#171](https://github.com/jcabi/jcabi-http/issues/171); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-10-26 11:55] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#171](https://github.com/jcabi/jcabi-http/issues/171); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-10-31 11:49] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#171](https://github.com/jcabi/jcabi-http/issues/171); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-11-03 19:31] piotrkot opened #185 "Master builds fail on AppVeyor and Travis"
Automatic builds in CI: AppVeyor and Travis fail.
I believe this is a critical issue as no-one can work with the project if the build on the master branch fails.

[2019-11-03 19:32] 0crat commented on #185
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-11-03 19:32] 0crat commented on #185
@piotrkot[/z](https://www.0crat.com/u/piotrkot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-11-05 12:44] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#171](https://github.com/jcabi/jcabi-http/issues/171); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-11-10 13:42] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#171](https://github.com/jcabi/jcabi-http/issues/171); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-11-14 20:44] fanifieiev commented on #177
@yegor256 Please pay attention to this issue. Please  [see](https://github.com/jcabi/jcabi-http/issues/177#issuecomment-449858991)
We need this issue be resolved to fix tests in [Takes ](https://github.com/yegor256/takes) project

[2019-11-15 14:50] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#171](https://github.com/jcabi/jcabi-http/issues/171); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-11-18 18:54] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-11-23 19:51] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-11-28 20:56] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-11-29 16:22] #164 closed

[2019-11-29 16:22] 0pdd commented on #164
The puzzle `87-bd2cb401` has disappeared from the source code, that's why I closed this issue.

[2019-11-29 16:22] 0pdd commented on #87
@pinaf the puzzle [#163](https://github.com/jcabi/jcabi-http/issues/163) is still not solved; solved: [#164](https://github.com/jcabi/jcabi-http/issues/164).

[2019-11-29 16:52] 0crat commented on #164
Job `gh:jcabi/jcabi-http#164` is not assigned, can't get performer

[2019-11-29 16:53] 0crat commented on #164
This job is not in scope

[2019-11-30 11:14] simonjenga opened #187 "JSR-303 validator failed to initialize"
[code]

[2019-11-30 11:14] 0crat commented on #187
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-11-30 11:14] 0crat commented on #187
@simonjenga[/z](https://www.0crat.com/u/simonjenga) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-03 21:46] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-12-08 23:15] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-12-14 12:46] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-12-17 15:25] yegor256 commented on #185
@piotrkot Travis is clean now

[2019-12-17 15:26] yegor256 commented on #185
@piotrkot this is an absolute mystery for me: https://ci.appveyor.com/project/yegor256/jcabi-http/branch/master Can you help?

[2019-12-17 20:39] piotrkot commented on #185
@yegor256 Oh, come on. You're the master here :)
I spent some time investigating and I gave up. I can spend some more.

[2019-12-20 19:48] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-12-25 20:56] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-12-30 21:56] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-01-04 22:52] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-01-10 03:26] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#177](https://github.com/jcabi/jcabi-http/issues/177); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-05-03 13:18] ivanov-d commented on #160
@yegor256 , the bug is still reproducible in the latest version, because fix for back() method from https://github.com/jcabi/jcabi-http/pull/149 was not approved. Shall I open another PR since original author gave up on it?

[2020-06-16 05:57] yegor256 commented on #160
@jakob-o PR #149 was merged

[2020-06-16 08:09] yegor256 commented on #160
@rultor release, tag is `0.17.3`

[2020-06-16 08:11] rultor commented on #160
@jakob-o @yegor256 Invalid release tag `0.17.3` specified. There is already a release `1.17.2` newer than the given release in this repository.

[2020-06-16 08:11] rultor commented on #160
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2020-06-16 08:22] yegor256 commented on #160
@rultor release, tag is `1.17.3`

[2020-06-16 08:23] rultor commented on #160
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22373-644613815)

[2020-06-16 08:29] rultor commented on #160
@jakob-o @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22373-644613815) (spent 6min)

[code]

[2020-06-25 19:10] andreoss commented on #171
As were discussed elsewhere, the version of parent should be `1.25.1`

[2020-06-28 13:10] 0pdd opened #194 "pom.xml:113-117: Transitive dependencies for hamcrest 1.3..."
The puzzle `171-f8bc6a22` from #171 has to be resolved:

https://github.com/jcabi/jcabi-http/blob/b76b7f4fd946a721fe4256d3ae06d5f2056b5c8b/pom.xml#L113-L117

The puzzle was created by andreoss on 25-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2020-06-28 13:10] 0pdd opened #195 "pom.xml:151-157: Migrate all simple tests to Junit 5. For..."
The puzzle `171-01da2b80` from #171 has to be resolved:

https://github.com/jcabi/jcabi-http/blob/b76b7f4fd946a721fe4256d3ae06d5f2056b5c8b/pom.xml#L151-L157

The puzzle was created by andreoss on 25-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2020-06-28 13:10] 0pdd commented on #171
@yegor256 2 puzzles [#194](https://github.com/jcabi/jcabi-http/issues/194), [#195](https://github.com/jcabi/jcabi-http/issues/195) are still not solved.

[2020-06-28 13:10] 0crat commented on #194
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-06-28 13:12] 0crat commented on #195
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-06-28 13:47] 0crat commented on #194
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#194](https://github.com/jcabi/jcabi-http/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-06-28 13:47] 0crat commented on #195
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#195](https://github.com/jcabi/jcabi-http/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-06-28 20:56] andreoss commented on #194
Blocked by https://github.com/jcabi/jcabi-matchers/issues/40

[2020-06-29 04:36] yegor256 commented on #171
@rultor release, tag is `1.17.3`

[2020-06-29 04:37] rultor commented on #171
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22449-650899612)

[2020-06-29 04:48] rultor commented on #171
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22449-650899612) (took me 11min)

[2020-06-29 04:50] yegor256 commented on #171
@andreoss many thanks!

[2020-06-29 04:50] #171 closed

[2020-06-29 05:07] 0crat commented on #171
Job `gh:jcabi/jcabi-http#171` is not assigned, can't get performer

[2020-07-02 19:06] andreoss commented on #187
@yegor256 Fixed since 3a22783
https://github.com/jcabi/jcabi-parent/issues/55
https://github.com/jcabi/jcabi-maven-plugin/issues/53

[2020-07-03 14:48] 0crat commented on #194
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#194](https://github.com/jcabi/jcabi-http/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-03 14:48] 0crat commented on #195
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#195](https://github.com/jcabi/jcabi-http/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-07 18:56] andreoss commented on #64
@davidsowerby lombok is a compile-time dependency now, and has been for at least several releases.

[2020-07-07 18:56] #64 closed

[2020-07-07 19:13] 0crat commented on #64
Job `gh:jcabi/jcabi-http#64` is not assigned, can't get performer

[2020-07-07 20:55] #195 closed

[2020-07-07 20:55] 0pdd commented on #195
The puzzle `171-01da2b80` has disappeared from the source code, that's why I closed this issue.

[2020-07-07 20:55] 0pdd opened #199 "pom.xml:151-155: Migrate the rest of tests to Junit 5...."
The puzzle `195-eea7018e` from #195 has to be resolved:

https://github.com/jcabi/jcabi-http/blob/866d7608f6fe6d81c27320f867b8921efb40d7ff/pom.xml#L151-L155

The puzzle was created by andreoss on 07-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2020-07-07 20:55] 0pdd commented on #171
@yegor256 2 puzzles [#194](https://github.com/jcabi/jcabi-http/issues/194), [#199](https://github.com/jcabi/jcabi-http/issues/199) are still not solved; solved: [#195](https://github.com/jcabi/jcabi-http/issues/195).

[2020-07-07 20:55] 0pdd commented on #195
@0pdd the puzzle [#199](https://github.com/jcabi/jcabi-http/issues/199) is still not solved.

[2020-07-07 20:56] 0crat commented on #199
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-07-07 21:14] 0crat commented on #195
Job `gh:jcabi/jcabi-http#195` is not assigned, can't get performer

[2020-07-07 21:45] 0crat commented on #199
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#199](https://github.com/jcabi/jcabi-http/issues/199); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-08 00:02] andreoss commented on #111
@petarmitrovic @daneshkohan
I was unable to verify this bug with Gradle 6.1.1 and Android SDK 29, with this config (also checked 1.10.4 and 1.16)
[code]
Feel free to re-open, if the error occurs again. It would be nice to have `build.gradle` and output of `gradle clean build --stacktrace` in this case.

[2020-07-08 00:02] #111 closed

[2020-07-08 00:42] 0crat commented on #111
Job `gh:jcabi/jcabi-http#111` is not assigned, can't get performer

[2020-07-08 00:58] #67 closed

[2020-07-08 01:11] andreoss opened #200 "Test fails on Travis-CI"
`TrustedWireITCase` is failing on Travis [1] while passing locally.
It tries to access https://api.travis-ci.org/test and expects 404, but the server answers with 403.
The reason for testing `TrustedWire` with this particular link is unclear (there is no issues with its SSL certificate).
Consider using https://badssl.com/ for testing with self-signed and expired certificates.

[1]: https://travis-

[2020-07-08 01:11] 0crat commented on #200
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-07-08 01:14] andreoss commented on #160
@jakob-o Fixed in [1.17.3](https://github.com/jcabi/jcabi-http/releases/tag/1.17.3)

[2020-07-08 01:14] #160 closed

[2020-07-08 01:15] 0crat commented on #67
Job `gh:jcabi/jcabi-http#67` is not assigned, can't get performer

[2020-07-08 01:17] andreoss commented on #135
Continues as https://github.com/jcabi/jcabi-http/issues/200

[2020-07-08 01:17] #135 closed

[2020-07-08 01:20] andreoss commented on #187
@simonjenga Fixed in [the latest release](https://github.com/jcabi/jcabi-http/releases/tag/1.17.3)

[2020-07-08 01:20] #187 closed

[2020-07-08 01:31] 0crat commented on #160
Job `gh:jcabi/jcabi-http#160` is not assigned, can't get performer

[2020-07-08 01:34] 0crat commented on #135
Job `gh:jcabi/jcabi-http#135` is not assigned, can't get performer

[2020-07-08 01:47] 0crat commented on #200
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#200](https://github.com/jcabi/jcabi-http/issues/200); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-08 01:49] 0crat commented on #187
Job `gh:jcabi/jcabi-http#187` is not assigned, can't get performer

[2020-07-08 02:01] andreoss commented on #170
@RishikeshDarandale Fixed. `BaseRequest` is public with public ctors in [1.17.3](https://github.com/jcabi/jcabi-http/releases/tag/1.17.3)

[2020-07-08 02:01] #170 closed

[2020-07-08 02:18] 0crat commented on #170
Job `gh:jcabi/jcabi-http#170` is not assigned, can't get performer

[2020-07-08 02:24] andreoss commented on #179
@nnordrum Would an extra constructor with `Map` parameter added in  `AbstractHeaderBasedCachingWire` be enough?
Note, only 4 `Map` methods are used by this class (`put`,`get`,`remove`, `contains`), so may be it should not be a `Map`.
 `CachingWire` keeps its cache it in static private variable, it could refactor in order to be used like `.through(CachingWire.class, cache)`, though we would need an

[2020-07-08 11:41] #109 closed

[2020-07-08 12:48] 0crat commented on #127
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#127](https://github.com/jcabi/jcabi-http/issues/127); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-08 12:58] 0crat commented on #109
Job `gh:jcabi/jcabi-http#109` is not assigned, can't get performer

[2020-07-08 15:46] 0crat commented on #194
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#194](https://github.com/jcabi/jcabi-http/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-08 16:36] 0pdd opened #202 "ApacheRequest.java:68-70: TrustedWire does not support..."
The puzzle `200-8bafc4f4` from #200 has to be resolved:

https://github.com/jcabi/jcabi-http/blob/9fc2a547586875beaa7cd549466c625de89e8300/src/main/java/com/jcabi/http/request/ApacheRequest.java#L68-L70

The puzzle was created by andreoss on 08-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-07-08 16:36] 0pdd commented on #200
@andreoss the puzzle [#202](https://github.com/jcabi/jcabi-http/issues/202) is still not solved.

[2020-07-08 16:37] 0crat commented on #202
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-07-08 16:44] #200 closed

[2020-07-08 17:01] 0crat commented on #200
Job `gh:jcabi/jcabi-http#200` is not assigned, can't get performer

[2020-07-08 20:17] andreoss opened #203 "https://http.jcabi.com/ is out of date"
[The site](https://github.jcabi.com/) has information about the previous release, rather than current.

[2020-07-08 20:17] 0crat commented on #203
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-07-09 01:45] #199 closed

[2020-07-09 01:45] 0pdd commented on #199
The puzzle `195-eea7018e` has disappeared from the source code, that's why I closed this issue.

[2020-07-09 01:45] 0pdd opened #206 "pom.xml:151-152: Migrate Junit 5 tests dependent on..."
The puzzle `199-1532b845` from #199 has to be resolved:

https://github.com/jcabi/jcabi-http/blob/d97d312f86e5f916ea72a5cef88030000ed25934/pom.xml#L151-L152

The puzzle was created by andreoss on 09-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2020-07-09 01:45] 0pdd commented on #171
@yegor256 2 puzzles [#194](https://github.com/jcabi/jcabi-http/issues/194), [#206](https://github.com/jcabi/jcabi-http/issues/206) are still not solved; solved: [#195](https://github.com/jcabi/jcabi-http/issues/195), [#199](https://github.com/jcabi/jcabi-http/issues/199).

[2020-07-09 01:45] 0pdd commented on #195
@0pdd the puzzle [#206](https://github.com/jcabi/jcabi-http/issues/206) is still not solved; solved: [#199](https://github.com/jcabi/jcabi-http/issues/199).

[2020-07-09 01:45] 0pdd commented on #199
@0pdd the puzzle [#206](https://github.com/jcabi/jcabi-http/issues/206) is still not solved.

[2020-07-09 01:45] andreoss commented on #145
@andrejserafim Closing in favor of #126, since there is a huge performance boost between this two versions.

[2020-07-09 01:45] #145 closed

[2020-07-09 01:45] 0crat commented on #206
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-07-09 02:02] 0crat commented on #199
Job `gh:jcabi/jcabi-http#199` is not assigned, can't get performer

[2020-07-09 02:03] 0crat commented on #145
Job `gh:jcabi/jcabi-http#145` is not assigned, can't get performer

[2020-07-09 02:05] andreoss commented on #124
@cvrebert Closing in favor of https://github.com/jcabi/jcabi-http/issues/179

[2020-07-09 02:05] #124 closed

[2020-07-09 02:22] 0crat commented on #124
Job `gh:jcabi/jcabi-http#124` is not assigned, can't get performer

[2020-07-09 02:35] andreoss commented on #181
@marcguilera I believe you should file it to [jcabi-github](https://github.com/jcabi/jcabi-github)
I see no indication that the problem originates from `jcabi-http`

[2020-07-09 02:35] #181 closed

[2020-07-09 02:52] 0crat commented on #181
Job `gh:jcabi/jcabi-http#181` is not assigned, can't get performer

[2020-07-09 04:02] 0crat commented on #206
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#206](https://github.com/jcabi/jcabi-http/issues/206); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-09 04:12] 0crat commented on #202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#202](https://github.com/jcabi/jcabi-http/issues/202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-09 04:13] 0crat commented on #175
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#175](https://github.com/jcabi/jcabi-http/issues/175); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-09 04:14] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-09 08:50] simonjenga commented on #187
@andreoss :+1: Confirmed as fixed.
[code]

[2020-07-09 09:51] andreoss commented on #76
@yegor256 What is the reason for removing JAX-RS dependencies? May be we should upgrade to JAX-RS 2.0 instead?

[2020-07-09 10:17] 0pdd opened #207 "MkGrizzlyContainer.java:173-176: Grizzly Server has..."
The puzzle `126-c5eb9db3` from #126 has to be resolved:

https://github.com/jcabi/jcabi-http/blob/b00f0aa072e64ad270214d8a80222fc8c5e9781e/src/main/java/com/jcabi/http/mock/MkGrizzlyContainer.java#L173-L176

The puzzle was created by @rultor on 09-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-07-09 10:17] 0pdd commented on #126
@krzyk the puzzle [#207](https://github.com/jcabi/jcabi-http/issues/207) is still not solved.

[2020-07-09 10:18] 0crat commented on #207
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-07-09 10:19] 0crat commented on #207
Job [#207](https://github.com/jcabi/jcabi-http/issues/207) doesn't exist, can't set role

[2020-07-09 11:11] 0crat commented on #207
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#207](https://github.com/jcabi/jcabi-http/issues/207); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-10 12:05] #116 closed

[2020-07-10 12:05] #207 closed

[2020-07-10 12:05] 0pdd commented on #207
The puzzle `126-c5eb9db3` has disappeared from the source code, that's why I closed this issue.

[2020-07-10 12:05] 0pdd commented on #126
@krzyk the only puzzle [#207](https://github.com/jcabi/jcabi-http/issues/207) is solved here.

[2020-07-10 17:32] 0pdd commented on #206
The puzzle `199-1532b845` has disappeared from the source code, that's why I closed this issue.

[2020-07-10 17:32] #206 closed

[2020-07-10 17:32] 0pdd opened #210 "JsonResponseTest.java:43-45: Use assertThrows instead of..."
The puzzle `206-f3551294` from #206 has to be resolved:

https://github.com/jcabi/jcabi-http/blob/517d46212b5fd876c880b89a231d53e6528def01/src/test/java/com/jcabi/http/response/JsonResponseTest.java#L43-L45

The puzzle was created by andreoss on 10-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-07-10 17:32] 0pdd commented on #171
@yegor256 2 puzzles [#194](https://github.com/jcabi/jcabi-http/issues/194), [#210](https://github.com/jcabi/jcabi-http/issues/210) are still not solved; solved: [#195](https://github.com/jcabi/jcabi-http/issues/195), [#199](https://github.com/jcabi/jcabi-http/issues/199), [#206](https://github.com/jcabi/jcabi-http/issues/206).

[2020-07-10 17:32] 0pdd commented on #195
@0pdd the puzzle [#210](https://github.com/jcabi/jcabi-http/issues/210) is still not solved; solved: [#199](https://github.com/jcabi/jcabi-http/issues/199), [#206](https://github.com/jcabi/jcabi-http/issues/206).

[2020-07-10 17:32] 0pdd commented on #199
@0pdd the puzzle [#210](https://github.com/jcabi/jcabi-http/issues/210) is still not solved; solved: [#206](https://github.com/jcabi/jcabi-http/issues/206).

[2020-07-10 17:32] 0pdd commented on #206
@0pdd the puzzle [#210](https://github.com/jcabi/jcabi-http/issues/210) is still not solved.

[2020-07-12 12:12] andreoss commented on #126
@krzyk Upgraded to 2.4.4 in #205

[2020-07-12 12:12] #126 closed

[2020-07-12 12:13] andreoss opened #211 "Upgrade to JAX-RS 2.0"
Upgrade jersey libraries to those which are JAX-RS 2.0 compatible

[2020-07-12 12:14] andreoss commented on #76
@yegor256 Closing in favor of https://github.com/jcabi/jcabi-http/issues/211

[2020-07-12 12:14] #76 closed

[2020-07-13 08:28] 0crat commented on #126
Job `gh:jcabi/jcabi-http#126` is not assigned, can't get performer

[2020-07-13 08:36] 0crat commented on #76
Job `gh:jcabi/jcabi-http#76` is not assigned, can't get performer

[2020-07-13 13:57] 0crat commented on #127
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#127](https://github.com/jcabi/jcabi-http/issues/127); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-13 16:56] 0crat commented on #194
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#194](https://github.com/jcabi/jcabi-http/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-14 04:53] 0crat commented on #206
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#206](https://github.com/jcabi/jcabi-http/issues/206); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-14 04:54] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-14 04:55] 0crat commented on #175
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#175](https://github.com/jcabi/jcabi-http/issues/175); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-14 04:55] 0crat commented on #202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#202](https://github.com/jcabi/jcabi-http/issues/202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-14 11:49] 0crat commented on #207
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#207](https://github.com/jcabi/jcabi-http/issues/207); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-18 14:54] 0crat commented on #127
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#127](https://github.com/jcabi/jcabi-http/issues/127); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-18 17:56] 0crat commented on #194
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#194](https://github.com/jcabi/jcabi-http/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-19 05:59] 0crat commented on #175
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#175](https://github.com/jcabi/jcabi-http/issues/175); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-19 05:59] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-19 06:00] 0crat commented on #202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#202](https://github.com/jcabi/jcabi-http/issues/202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-23 15:52] 0crat commented on #127
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#127](https://github.com/jcabi/jcabi-http/issues/127); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-23 18:56] 0crat commented on #194
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#194](https://github.com/jcabi/jcabi-http/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-24 06:58] 0crat commented on #202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#202](https://github.com/jcabi/jcabi-http/issues/202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-24 06:58] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-24 06:59] 0crat commented on #175
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#175](https://github.com/jcabi/jcabi-http/issues/175); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-25 13:01] 0pdd commented on #210
The puzzle `206-f3551294` has disappeared from the source code, that's why I closed this issue.

[2020-07-25 13:01] #210 closed

[2020-07-25 13:01] 0pdd commented on #171
@yegor256 the puzzle [#194](https://github.com/jcabi/jcabi-http/issues/194) is still not solved; solved: [#195](https://github.com/jcabi/jcabi-http/issues/195), [#199](https://github.com/jcabi/jcabi-http/issues/199), [#206](https://github.com/jcabi/jcabi-http/issues/206), [#210](https://github.com/jcabi/jcabi-http/issues/210).

[2020-07-25 13:01] 0pdd commented on #195
@0pdd all 3 puzzles are solved here: [#199](https://github.com/jcabi/jcabi-http/issues/199), [#206](https://github.com/jcabi/jcabi-http/issues/206), [#210](https://github.com/jcabi/jcabi-http/issues/210).

[2020-07-25 13:01] 0pdd commented on #199
@0pdd all 2 puzzles are solved here: [#206](https://github.com/jcabi/jcabi-http/issues/206), [#210](https://github.com/jcabi/jcabi-http/issues/210).

[2020-07-25 13:01] 0pdd commented on #206
@0pdd the only puzzle [#210](https://github.com/jcabi/jcabi-http/issues/210) is solved here.

[2020-07-25 13:19] 0crat commented on #210
Job `gh:jcabi/jcabi-http#210` is not assigned, can't get performer

[2020-07-25 15:33] #211 closed

[2020-07-25 15:37] andreoss commented on #97
`BasicAuthWire` can also strip user info from `home` after Auth header was added

[2020-07-25 15:51] 0pdd opened #215 "BasicAuthWire.java:68-70: Strip user info from URI after..."
The puzzle `97-5ddd4355` from #97 has to be resolved:

https://github.com/jcabi/jcabi-http/blob/b6bd75dbbbd3ecb3b1e5ff5bf777125d90594ecf/src/main/java/com/jcabi/http/wire/BasicAuthWire.java#L68-L70

The puzzle was created by andreoss on 25-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-07-25 15:51] 0pdd commented on #97
@dominicfarr the puzzle [#215](https://github.com/jcabi/jcabi-http/issues/215) is still not solved.

[2020-07-25 15:56] 0crat commented on #211
Job `gh:jcabi/jcabi-http#211` is not assigned, can't get performer

[2020-07-25 16:03] #159 closed

[2020-07-25 16:21] 0crat commented on #159
Job `gh:jcabi/jcabi-http#159` is not assigned, can't get performer

[2020-07-25 16:52] andreoss commented on #105
@longtimeago Done.

[2020-07-25 16:52] #105 closed

[2020-07-25 16:57] 0crat commented on #215
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#215](https://github.com/jcabi/jcabi-http/issues/215); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-25 17:10] 0crat commented on #105
Job `gh:jcabi/jcabi-http#105` is not assigned, can't get performer

[2020-07-29 14:06] 0crat commented on #202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#202](https://github.com/jcabi/jcabi-http/issues/202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-29 14:18] 0crat commented on #127
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#127](https://github.com/jcabi/jcabi-http/issues/127); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-29 14:20] 0crat commented on #175
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#175](https://github.com/jcabi/jcabi-http/issues/175); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-29 14:25] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-29 14:26] 0crat commented on #194
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#194](https://github.com/jcabi/jcabi-http/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-07-30 17:46] 0crat commented on #215
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#215](https://github.com/jcabi/jcabi-http/issues/215); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-03 14:55] 0crat commented on #194
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#194](https://github.com/jcabi/jcabi-http/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-03 14:59] 0crat commented on #202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#202](https://github.com/jcabi/jcabi-http/issues/202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-03 15:02] 0crat commented on #127
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#127](https://github.com/jcabi/jcabi-http/issues/127); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-03 15:02] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-03 15:06] 0crat commented on #175
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#175](https://github.com/jcabi/jcabi-http/issues/175); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-04 18:50] 0crat commented on #215
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#215](https://github.com/jcabi/jcabi-http/issues/215); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-05 16:08] yegor256 commented on #187
@simonjenga can you submit a pull request?

[2020-08-06 08:19] simonjenga commented on #187
@yegor256 The problem here is fixed.

[2020-08-08 16:01] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-08 16:07] 0crat commented on #194
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#194](https://github.com/jcabi/jcabi-http/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-08 16:09] 0crat commented on #127
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#127](https://github.com/jcabi/jcabi-http/issues/127); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-08 16:10] 0crat commented on #175
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#175](https://github.com/jcabi/jcabi-http/issues/175); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-08 16:13] 0crat commented on #202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#202](https://github.com/jcabi/jcabi-http/issues/202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-09 06:19] yegor256 commented on #179
@andreoss what's up with this ticket?

[2020-08-09 18:59] 0crat commented on #215
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#215](https://github.com/jcabi/jcabi-http/issues/215); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-13 17:00] 0crat commented on #175
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#175](https://github.com/jcabi/jcabi-http/issues/175); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-13 17:02] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-13 17:04] 0crat commented on #194
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#194](https://github.com/jcabi/jcabi-http/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-13 17:09] 0crat commented on #202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#202](https://github.com/jcabi/jcabi-http/issues/202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-13 17:09] 0crat commented on #127
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#127](https://github.com/jcabi/jcabi-http/issues/127); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-14 19:58] 0crat commented on #215
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#215](https://github.com/jcabi/jcabi-http/issues/215); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-18 18:01] 0crat commented on #194
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#194](https://github.com/jcabi/jcabi-http/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-18 18:02] 0crat commented on #127
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#127](https://github.com/jcabi/jcabi-http/issues/127); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-18 18:05] 0crat commented on #202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#202](https://github.com/jcabi/jcabi-http/issues/202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-18 18:07] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-18 18:07] 0crat commented on #175
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#175](https://github.com/jcabi/jcabi-http/issues/175); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-19 20:39] 0crat commented on #215
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#215](https://github.com/jcabi/jcabi-http/issues/215); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-23 19:04] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-23 19:04] 0crat commented on #202
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#202](https://github.com/jcabi/jcabi-http/issues/202); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-23 19:07] 0crat commented on #127
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#127](https://github.com/jcabi/jcabi-http/issues/127); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-23 19:09] 0crat commented on #194
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#194](https://github.com/jcabi/jcabi-http/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-24 21:56] 0crat commented on #215
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#215](https://github.com/jcabi/jcabi-http/issues/215); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-28 14:30] #215 closed

[2020-08-28 14:30] 0pdd commented on #215
The puzzle `97-5ddd4355` has disappeared from the source code, that's why I closed this issue.

[2020-08-28 14:30] 0pdd commented on #97
@dominicfarr the only puzzle [#215](https://github.com/jcabi/jcabi-http/issues/215) is solved here.

[2020-08-28 14:52] 0crat commented on #215
Job `gh:jcabi/jcabi-http#215` is not assigned, can't get performer

[2020-08-28 20:10] 0crat commented on #127
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#127](https://github.com/jcabi/jcabi-http/issues/127); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-08-28 20:12] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-09-02 21:04] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-09-03 22:09] 0pdd opened #222 "CachingWire.java:85-88: This implementation depends on..."
The puzzle `179-2a860650` from #179 has to be resolved:

https://github.com/jcabi/jcabi-http/blob/d477467b945368a9c7707f25b65d89826d8fad77/src/main/java/com/jcabi/http/wire/CachingWire.java#L85-L88

The puzzle was created by andreoss on 02-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-09-03 22:10] 0pdd commented on #179
@nnordrum the puzzle [#222](https://github.com/jcabi/jcabi-http/issues/222) is still not solved.

[2020-09-03 22:27] andreoss opened #223 "Duplicated code between `ApacheRequest` and `JdkRequest`"
The difference between `ApacheRequest` and `JdkRequest` is the anonymous inter classes defining initial `Wire` for the primary connection (by using either JDK or apache-http client), otherwise two classes are the same and just delegate to `BaseRequest`.

Proposal:

1. Extract inner `Wire` implementations as separate classes: `JdkWire`, `ApacheWire`
2. Rename `BaseRequest` to `RequestOn`
[code]
3.

[2020-09-03 22:57] 0crat commented on #222
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#222](https://github.com/jcabi/jcabi-http/issues/222); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-09-07 22:07] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-09-08 23:53] 0crat commented on #222
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#222](https://github.com/jcabi/jcabi-http/issues/222); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-09-12 23:07] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-09-14 01:06] 0crat commented on #222
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#222](https://github.com/jcabi/jcabi-http/issues/222); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-09-18 00:28] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-09-19 01:57] 0crat commented on #222
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#222](https://github.com/jcabi/jcabi-http/issues/222); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-09-23 01:16] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-09-24 03:01] 0crat commented on #222
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#222](https://github.com/jcabi/jcabi-http/issues/222); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-09-28 01:12] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-09-29 03:48] 0crat commented on #222
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#222](https://github.com/jcabi/jcabi-http/issues/222); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-10-03 02:14] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-10-04 04:55] 0crat commented on #222
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#222](https://github.com/jcabi/jcabi-http/issues/222); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-10-08 03:07] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-10-09 05:45] 0crat commented on #222
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#222](https://github.com/jcabi/jcabi-http/issues/222); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-10-13 04:02] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-10-14 06:58] 0crat commented on #222
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#222](https://github.com/jcabi/jcabi-http/issues/222); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-10-18 05:01] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-10-19 07:57] 0crat commented on #222
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#222](https://github.com/jcabi/jcabi-http/issues/222); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-10-23 05:59] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-10-24 09:04] 0crat commented on #222
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#222](https://github.com/jcabi/jcabi-http/issues/222); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-10-28 07:06] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#179](https://github.com/jcabi/jcabi-http/issues/179); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-11-02 17:17] andreoss opened #224 "Move to Github Actions"
Alike `takes` and `cactoos`, use Github actions in order to build on various platforms.
This would make possible to deprecate AppVeyor and Travis in the future (see #185)

[2020-11-09 23:09] andreoss commented on #185
@piotrkot  Closing this in favor of #224

[2020-11-09 23:09] #185 closed

[2020-11-09 23:26] 0crat commented on #185
Job `gh:jcabi/jcabi-http#185` is not assigned, can't get performer

[2020-11-10 10:06] andreoss commented on #224
@0crat in

[2020-11-10 10:21] 0crat commented on #224
@andreoss You @andreoss[/z](https://www.0crat.com/u/andreoss) need to have one of these roles in order to do "Add job to WBS": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-11-27 12:12] yegor256 opened #227 "upgrade to 1.27.0"
Let's upgrade our `pom.xml` to the latest parent: 1.27.0

[2020-12-01 16:11] andreoss commented on #227
@yegor256 I think we should setup @dependabot for jcabi organization

[2020-12-01 18:55] andreoss commented on #227
@yegor256 Done.

[2020-12-01 18:55] #227 closed

[2020-12-01 18:57] yegor256 commented on #227
@andreoss let's release?

[2020-12-01 19:36] yegor256 commented on #227
@andreoss I added dependabot to all repos

[2020-12-01 22:27] andreoss commented on #224
@yegor256 Since GH Actions are now enabled, can you disable travis and appveyor?
Appveyor has been broken for sometime, and travis is now redundant and slower than GHA

[2020-12-01 23:21] andreoss commented on #227
@rultor release, tag `1.17.4`

[2020-12-01 23:23] rultor commented on #227
@andreoss OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23801-736884026)

[2020-12-01 23:24] rultor commented on #227
@andreoss @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23801-736884026) (spent 2min)

[code]

[2020-12-01 23:25] andreoss commented on #227
@rultor release, tag=`1.17.4`

[2020-12-01 23:27] rultor commented on #227
@andreoss OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23801-736885272)

[2020-12-01 23:35] rultor commented on #227
@andreoss Done! FYI, the full log is [here](https://www.rultor.com/t/23801-736885272) (took me 8min)

[2020-12-03 22:25] andreoss opened #235 "Set language level to 8"
Since openjdk 7 is no longer supported, let's set language level to 8

https://github.com/jcabi/jcabi-http/blob/master/pom.xml#L264

[2020-12-03 22:44] #235 closed

[2020-12-03 23:16] andreoss commented on #97
Closing as #215 is closed atm.

[2020-12-03 23:16] #97 closed

[2020-12-04 07:40] andreoss commented on #176
@driver733 Fixed.

[2020-12-04 07:40] #176 closed

[2021-01-18 08:22] andreoss opened #238 "Grizzly container is unable to handle DELETE with a payload"
The current container configuration is set up to ignore DELETE requests with a payload, 400 Bad Request is returned instead

Can be reproduced with this test:
[code]

See: https://stackoverflow.com/questions/49976638/allow-delete-requests-with-message-body-using-grizzly-servlet-container
See: https://stackoverflow.com/questions/299628/is-an-entity-body-allowed-for-an-http-delete-request

[2021-01-18 08:37] andreoss commented on #238
@0crat assign @andreoss

[2021-01-18 08:38] andreoss commented on #238
@0crat in

[2021-01-18 09:09] 0crat commented on #238
@andreoss You @andreoss[/z](https://www.0crat.com/u/andreoss) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2021-01-18 09:11] andreoss commented on #238
@rultor release, tag=`1.17.5`

[2021-01-18 09:11] 0crat commented on #238
@andreoss You @andreoss[/z](https://www.0crat.com/u/andreoss) need to have one of these roles in order to do "Add job to WBS": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2021-01-18 09:12] rultor commented on #238
@andreoss OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23990-762103750)

[2021-01-18 09:36] rultor commented on #238
@andreoss Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23990-762103750) (spent 23min)

[code]

[2021-01-18 09:44] andreoss commented on #238
@rultor release, tag=`1.17.5`

[2021-01-18 09:45] rultor commented on #238
@andreoss OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23990-762124144)

[2021-01-18 10:15] rultor commented on #238
@andreoss Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23990-762124144) (spent 29min)

[code]

[2021-01-21 18:39] andreoss commented on #238
@rultor release, tag=`1.17.5`

[2021-01-21 18:39] rultor commented on #238
@andreoss OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23990-764854536)

[2021-01-21 19:02] rultor commented on #238
@andreoss Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23990-764854536) (spent 22min)

[code]

[2021-03-01 13:11] Bing-ok opened #241 "“NoSuchMethodErrors” due to multiple versions of com.fasterxml.jackson.core:jackson-core"
## Issue description:
There are multiple versions of **_com.fasterxml.jackson.core:jackson-core_** in **_jcabi-http_**. As shown in the following dependency tree, according to Maven's "nearest wins" strategy, only **_com.fasterxml.jackson.core:jackson-core:2.7.6_** can be loaded, **_com.fasterxml.jackson.core:jackson-core:2.9.10_** will be shadowed.

However, several methods defined in shadowed ve

[2021-03-07 08:08] Bing-ok commented on #241
@andreoss Could you please help me review this issue? Thank you very much.

[2021-03-08 03:07] andreoss commented on #241
@Bing-ok
Do you have any json which cause this?
I failed to reproduce  `NoSuchMethodError`.
JacksonParser as it configured does not support `NaN` whatsoever, but if enabled this test passes
[code]

[2021-03-09 12:31] Bing-ok commented on #241
Thanks for your support! Using the latest version can also fix this issue. @andreoss

[2021-03-09 12:31] #241 closed

[2021-03-09 13:22] 0crat commented on #241
Job `gh:jcabi/jcabi-http#241` is not assigned, can't get performer

[2021-03-09 13:50] andreoss commented on #238
@rultor release, tag=`1.17.5`

[2021-03-09 13:51] rultor commented on #238
@andreoss OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23990-793924337)

[2021-03-09 14:03] rultor commented on #238
@andreoss Done! FYI, the full log is [here](https://www.rultor.com/t/23990-793924337) (took me 12min)

[2021-03-10 14:27] andreoss commented on #241
@Bing-ok Fixed in [1.17.5](https://search.maven.org/artifact/com.jcabi/jcabi-http/1.17.5)

[2021-03-15 02:40] #238 closed

[2021-03-15 03:17] 0crat commented on #238
Job `gh:jcabi/jcabi-http#238` is not assigned, can't get performer

[2021-03-17 17:36] golszewski86 opened #243 "Setting form params broken when .back().body() called in the meantime"
The following code:

[code]

Creates the following request parameters:

`foo1=bar1foo2=bar2foo3=bar3&foo4=bar4`

As you can see, the ampersand is missing after `bar1` and after `bar2`.

Tested on jcabi-jdbc 1.17.5

[2021-04-26 06:56] andreoss commented on #243
Fixed in [1.17.6](https://search.maven.org/artifact/com.jcabi/jcabi-http/1.17.6/jar)

[2021-04-26 06:56] #243 closed

[2021-04-26 07:14] 0crat commented on #243
Job `gh:jcabi/jcabi-http#243` is not assigned, can't get performer

[2021-06-26 01:38] andreoss opened #250 "JdkRequest does not support PATCH"
[code]

[2021-06-26 01:46] andreoss opened #251 "OAuth/Bearer Authentication"
Implement `OAuth` authentication  as a separate `Wire`

[2021-06-26 22:33] andreoss opened #252 "AutoRedirectingWire does not work if location is relative"
Location is incorrectly resolved on this line:
https://github.com/jcabi/jcabi-http/blob/771cf34cb1fbe4d68206c1b6e5ab89808ad1d810/src/main/java/com/jcabi/http/wire/AutoRedirectingWire.java#L126-L129

[2021-06-26 22:35] 0crat commented on #251
You @andreoss[/z](https://www.0crat.com/u/andreoss) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2021-06-26 22:37] andreoss opened #253 "AutoRedirectingWire does not support Set-Cookie"
While following the location header `AutoRedirectingWire` does not handle `Set-Cookie` header.

[2021-06-26 22:45] andreoss opened #254 "Improve integration testing"
Introduce containerized tests and if possible remove dependencies on external resources, such as
https://github.com/jcabi/jcabi-http/blob/771cf34cb1fbe4d68206c1b6e5ab89808ad1d810/src/test/java/com/jcabi/http/RequestITCase.java#L68
https://github.com/jcabi/jcabi-http/blob/771cf34cb1fbe4d68206c1b6e5ab89808ad1d810/src/test/java/com/jcabi/http/RequestITCase.java#L85

[2021-06-26 23:35] andreoss opened #255 "No args contructors for Request types"
Make it possible to create `Request` without specifying URL at construction type
Allowing this idiom:
[code]

[2021-06-27 05:28] andreoss opened #256 "Remove MultipartBodyBuilder"
MultipartBodyBuilder is replaceable with `StringBuilder` or `ByteBuffer`.

[2021-06-27 09:13] nishit-prasad commented on #255
Hello, I am new and would like to contribute if it's open. Can I take this up?

[2021-06-27 10:28] AyushWalekar commented on #252
Hi @andreoss , I am new to the open source, starting contribution with this. Please let me know if I can pick this up.
Thanks!

[2021-06-27 10:59] Shree-Gillorkar commented on #256
@andreoss , I am new in open source contributing can you please tell more detail about this issue like which folder and file do i have to look for the making further changes.

[2021-06-27 17:19] andreoss commented on #252
@AyushWalekar Sure you can

[2021-06-27 17:21] andreoss commented on #256
@Shree-Gillorkar Clarified the issue.

[2021-06-27 17:21] andreoss commented on #255
@nishit-prasad Yes, you can.

[2021-06-27 17:58] nishit-prasad commented on #255
Awesome! Can this be assigned to me?

I will setup my environment and post my concerns accordingly here. Thank you!

[2021-06-27 18:07] andreoss opened #258 "JdkRequest does not support compression"
Add support for `gzip` and `deflate` and enable this tests:
https://github.com/jcabi/jcabi-http/blob/9f069cf779b6953114f0fc708b8db187ce38ae44/src/test/java/com/jcabi/http/RequestITCaseTemplate.java#L180-L195

https://github.com/jcabi/jcabi-http/blob/9f069cf779b6953114f0fc708b8db187ce38ae44/src/test/java/com/jcabi/http/RequestITCaseTemplate.java#L197-L213

[2021-06-27 18:17] 0crat commented on #255
You @andreoss[/z](https://www.0crat.com/u/andreoss) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2021-06-27 19:51] nishit-prasad commented on #255
@andreoss I got a build failure when running mvn clean install:

[code]

[2021-06-27 20:06] andreoss commented on #255
@nishit-prasad Make sure you use the right version of JDK, which is 8